.product-detail-media{
  #tci-hinweistext {
    font-size: .625rem;
    line-height: .875rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: auto;
    height: auto;
    padding: .3125rem;
    color: #333;
    background: rgba(255,255,255,0.8);
    pointer-events: none;
    z-index: 1;
  }
}
.product-detail-buy{
  background: $gray-bg;
  padding: 0 40px;
  .product-detail-manufacturer {
    display: none;
  }
  .product-detail-headline {
    margin-bottom: 0;
    .product-detail-name {
      font-size: 26px;
      line-height: 28px;
      color: $dark-primary;
    }
  }
  .key-facts{
    margin-bottom: 30px;
    ul{
      padding-left: 0;
    }
  }
  .product-detail-form-container {
    background: $white;
    padding: 10px;
    .btn-buy {
      background: $theme-green;
      color: $white;
      border: 1px solid $theme-green;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      position: relative;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      line-height: 38px;
      border-radius: 10px;
      &:hover{
        color: #eee;
        border: 1px solid #1d9120;
      }
    }
  }
  .product-detail-tax {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .product-detail-delivery-information {
    font-size: .8125rem;
    width: auto;
    white-space: normal;
    line-height: 1.5;
    display: block;
    .available {
      color: #2ecc71;
    }

    .red-message{
      color: red;
    }

    .yellow-message{
      color: #ecc60a;
    }
  }
  .delivery-status-indicator{
    &.bg-success {
      background: none !important;
      &:before {
        content: "\E80E";
        font-family: 'fontello';
      }
    }
  }
  .product-detail-ordernumber-container {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .product-wishlist button {
    vertical-align: middle;
  }

  .product-wishlist .icon-wishlist {
    width: 14px;
    height: 14px;
    color: #000;
  }

  .product-wishlist-btn-content {
    font-size: 12px;
    text-decoration: none;
  }

  .product-detail-buy .product-detail-ordernumber-container .product-detail-ordernumber {
    padding-left: 30px;
  }

  .share--buttons {
    display: none;
    padding: 15px 0;
    margin: 10px 0;
    border-top: 0px solid $border-color;
    .icon-email {
      background: url("#{$myasset-path}/icons/icon-email.png") center center no-repeat #ca2026;
      background-size: 70% auto;
    }
    [class^="icon-"] {
      width: 32px !important;
      height: 32px !important;
      margin: 0 2px !important;
      display: inline-block;
      border-radius: 10px;
    }
    .icon-whatsapp {
      background: url("#{$myasset-path}/icons/icon-whatsapp.png") center center no-repeat #25d366;
      background-size: 70% auto;
    }
  }

  .product-detail-delivery-information{
    &:before {
      content: "\E848";
      font-family: "fontello";
      margin-right: 6px;
      position: relative;
      top: -1px;
    }
  }
}
.product-detail-price-container{
  .product-detail-price {
    font-size: 1.75rem;
    white-space: nowrap;
    color: $dark-primary;
    font-weight: 700;
    display: inline-block;
    line-height: 1;
    &.with-list-price {
      color: $theme-red;
    }
  }
  .product-detail-price-unit{
    .price-unit-label {
      font-weight: bold;
    }
  }
  .product-total-price {
    font-size: 28px;
    color: $sw-color-brand-secondary;
    margin-bottom: 0;
    .label--totalprice {
      font-weight: bold;
    }
    &.with-list-price {
      color: $theme-red;
    }
  }
}



.product-detail-tab-navigation-link {
  padding: 10px 10px;
  display: block;
}

.card-tabs{
  .nav-link {
    border: 1px solid $border-color;
    padding: 10px 20px;
    color: $black;
    margin-bottom: 10px;
    &.active {
      border-color: $border-color;
      border-bottom-color: $white;
      background: $white;
      border-bottom: 1px solid $white;
      position: relative;
      top: 1px;
      border-radius: 5px 5px 0 0px;
      color: $sw-color-brand-primary;
      font-weight: bold;
    }
  }
  .card-header{
    padding: 0;
  }
  .card-body {
    border: 1px solid $border-color;
    .product-detail-review,
    .product-detail-description{
      padding: 0 30px 30px;
    }
  }
}

.product-detail-tabs-content{
  .cms-element-product-slider{
    .product-box{
      .card-body {
        border: none;
      }
      .product-action {
        display: block;
        position: static;
      }
    }
  }
}

@include media-breakpoint-up(sm){
  .card-tabs{
    .nav-link {
      background-image: linear-gradient(to bottom, $white 0%, $gray-bg 100%);
      margin-bottom: 0;
    }
  }

}

@include media-breakpoint-up(lg){
  .is-ctl-product{
    .cms-section-sidebar-main-content{
      .cms-block-gallery-buybox{
        border: 1px solid $border-color;
        padding: 20px 20px 10px 0px;
        .cms-block-container{
          padding-right: 20px;
        }
      }
    }
  }
  .product-detail-media {
    flex: 0 0 55%;
    max-width: 55%;
  }
  .product-detail-buy {
    flex: 0 0 45%;
    max-width: 45%;
    padding: 0 20px;
  }
}