{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_sorting %}
    <div class="sorting-text">{{ "listing.Sortierungtext"|trans }}</div>
    {{ parent() }}
{% endblock %}