{% sw_extends '@Storefront/storefront/layout/breadcrumb.html.twig' %}

{% block layout_breadcrumb_list %}
    <ol class="breadcrumb"
        itemscope
        itemtype="https://schema.org/BreadcrumbList">
        <li class="breadcrumb-item">
            <a href="{{ path('frontend.home.page') }}"
               class="breadcrumb-link"
               title="Home"
               itemprop="item">
                <i class="icon--home"></i>
            </a>


        </li>
        <div class="breadcrumb-placeholder">
            {% sw_icon 'arrow-medium-right' style { 'size': 'fluid', 'pack': 'solid'} %}
        </div>
        {% for breadcrumbCategory in breadcrumbCategories %}
            {% set key = breadcrumbCategory.id %}
            {% set name = breadcrumbCategory.translated.name %}
            {% block layout_breadcrumb_list_item %}
                <li class="breadcrumb-item"
                    {% if key is same as(categoryId) %}aria-current="page"{% endif %}
                    itemprop="itemListElement"
                    itemscope
                    itemtype="https://schema.org/ListItem">
                    {% if breadcrumbCategory.type == 'folder' %}
                        <div itemprop="name">{{ name }}</div>
                        <meta itemprop="position" content="{{ breadcrumbCategory.id }}"/>
                    {% else %}
                        <a href="{{ category_url(breadcrumbCategory) }}"
                           class="breadcrumb-link {% if key is same as(categoryId) %} is-active{% endif %}"
                           title="{{ name }}"
                           {% if category_linknewtab(breadcrumbCategory) %}target="_blank"{% endif %}
                           itemprop="item">
                            <link itemprop="url"
                                  href="{{ category_url(breadcrumbCategory) }}"/>
                            <span class="breadcrumb-title" itemprop="name">{{ name }}</span>
                        </a>
                        <meta itemprop="position" content="{{ breadcrumbCategory.id }}"/>
                    {% endif %}
                </li>
            {% endblock %}

            {% block layout_breadcrumb_placeholder %}
                {% if key != breadcrumbKeys|last %}
                    <div class="breadcrumb-placeholder">
                        {% sw_icon 'arrow-medium-right' style { 'size': 'fluid', 'pack': 'solid'} %}
                    </div>
                {% endif %}
            {% endblock %}
        {% endfor %}
    </ol>
{% endblock %}
