{% sw_extends '@Storefront/storefront/layout/meta.html.twig' %}

{% block layout_head_meta_tags_general %}
{{ parent() }}
<meta name="facebook-domain-verification" content="end3adev6a6ygqhk139eggw6q0yu6x" />
{% endblock %}