{% block sw_customer_detail_base_info_card %}
    {% parent %}
    <sw-card :title="$tc('into-symbio-connector.general.titleAddonsCard')"
             v-if="customer.extensions.intoSymbioConnectorAddons"
             :isLoading="customer.isLoading">
        <sw-container columns="1fr 1fr 1fr" gap="0px 30px">
            <sw-field
                type="number"
                numberType="integer"
                v-model="customer.extensions.intoSymbioConnectorAddons.symbioRecipientId"
                :label="$tc('into-symbio-connector.general.labelRecipientId')"
                allowEmpty
                disabled
            >
            </sw-field>
            <sw-datepicker
                dateType="datetime"
                v-model="customer.extensions.intoSymbioConnectorAddons.createdAt"
                :label="$tc('into-symbio-connector.general.labelCreatedAt')"
                allowEmpty
                disabled
            >
            </sw-datepicker>
            <sw-datepicker
                dateType="datetime"
                v-model="customer.extensions.intoSymbioConnectorAddons.updatedAt"
                :label="$tc('into-symbio-connector.general.labelUpdatedAt')"
                allowEmpty
                disabled
            >
            </sw-datepicker>
        </sw-container>
        <sw-container columns="1fr 1fr" gap="0px 30px">
            <sw-field
                type="text"
                v-model="customer.extensions.intoSymbioConnectorAddons.symbioRecipientIdentification"
                :label="$tc('into-symbio-connector.general.labelRecipientIdentification')"
                allowEmpty
                disabled
            >
            </sw-field>
            <sw-field
                v-model="customer.extensions.intoSymbioConnectorAddons.hash"
                :label="$tc('into-symbio-connector.general.labelHash')"
                allowEmpty
            >
            </sw-field>
        </sw-container>
    </sw-card>
{% endblock %}
