<sw-data-grid
        :is-loading="isLoading"
        :dataSource="downloads"
        :columns="downloadColumns"
        :allow-inline-edit="false"
        :allow-column-edit="false"
        :show-settings="false"
        :show-selection="false"
>

    <template #actions="{ item }">
        <sw-context-menu-item
                @click="onDownload(item.path)"
        >
            {{ $tc('into-symbio-connector.dashboard.download.contextMenuDownload') }}
        </sw-context-menu-item>
        <sw-context-menu-item
                variant="danger"
                @click="onDelete(item.path)"
        >
            {{ $tc('into-symbio-connector.dashboard.download.contextMenuDelete') }}
        </sw-context-menu-item>
    </template>

</sw-data-grid>