{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_wishlist_action %}{% endblock %}

{% block component_product_box_action %}
    {% if config('core.cart.wishlistEnabled') %}
        {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
            appearance: 'circle',
            productId: id
        } %}
    {% endif %}

    {{ parent() }}
{% endblock %}