{% sw_extends '@Storefront/storefront/component/product/card/price-unit.html.twig' %}

 {% block component_product_box_price_purchase_unit %}

     {% if product.purchaseUnit %}
         <span class="product-unit-label">
            {{ "listing.boxUnitLabel"|trans|sw_sanitize }}
        </span>
         {% block buy_widget_price_unit_content %}
             <span class="price-unit-content">
                {{ product.purchaseUnit }} {{ product.unit.name }}
            </span>
         {% endblock %}
     {% endif %}

 {% endblock %}
 {% block component_product_box_price %}
     <div class="product-price-wrapper">
         {% set price = real %}

         <div class="product-cheapest-price">
             {% if cheapest.unitPrice != real.unitPrice %}
                 <div>{{ "listing.cheapestPriceLabel"|trans|sw_sanitize }}<span class="product-cheapest-price-price"> {{ cheapest.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}</span></div>
             {% endif %}
         </div>

         {% if displayFrom %}
             {{ "listing.listingTextFrom"|trans|sw_sanitize }}
         {% endif %}

         {% set isListPrice = price.listPrice.percentage > 0 %}

         <span class="product-price{% if isListPrice and not displayFrom %} with-list-price{% endif %}">
                    {{ price.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}

             {% if isListPrice and not displayFrom %}
                 {% set afterListPriceSnippetExists = "listing.afterListPrice"|trans|length > 0 %}
                 {% set beforeListPriceSnippetExists = "listing.beforeListPrice"|trans|length > 0 %}
                 {% set hideStrikeTrough = beforeListPriceSnippetExists or afterListPriceSnippetExists %}

                 <span class="list-price{% if hideStrikeTrough %} list-price-no-line-through{% endif %}">
                            {% if beforeListPriceSnippetExists %}{{ "listing.beforeListPrice"|trans|trim|sw_sanitize }}{% endif %}

                            <span class="list-price-price">{{ price.listPrice.price|currency }}{{ "general.star"|trans|sw_sanitize }}</span>

                            {% if afterListPriceSnippetExists %}{{ "listing.afterListPrice"|trans|trim|sw_sanitize }}{% endif %}

                        </span>
             {% endif %}
                </span>
     </div>
 {% endblock %}