{% sw_extends '@Storefront/storefront/component/product/card/wishlist.html.twig' %}

{% block component_product_wishlist_button %}
    <button
            class="product-wishlist-{{ productId }} product-wishlist-action{% if appearance == 'circle' %}-circle{% endif %} product-wishlist-not-added product-wishlist-loading"
            title="{{ "listing.toggleWishlist"|trans|sw_sanitize }}"
            data-add-to-wishlist="true"
            data-add-to-wishlist-options="{{ addToWishlistOptions|json_encode }}"
    >
        {% block component_product_wishlist_icon %}
            {% sw_icon 'heart-fill' style { 'class': 'wishlist icon-wishlist-added', 'size': size } %}
            {% sw_icon 'heart' style {'class': 'wishlist icon-wishlist-not-added', 'size': size } %}
        {% endblock %}
    </button>
        <span class="product-wishlist-btn-content">
        {{ "listing.merkentext"|trans|sw_sanitize }}
    </span>

{% endblock %}