/*
* Component-related sections
* ----------------------- */
@import 'component/cms-block';
@import 'component/cms-section';
@import 'component/product-box';
@import 'component/breadcrumb';
@import 'component/filter-panel';
@import 'component/cms-element-image-gallery';

/*
 * Layout-related sections
 * ----------------------- */
@import 'layout/header';
@import 'layout/top-bar';
@import 'layout/footer';
@import 'layout/global';
@import 'layout/container';
@import "layout/navigation-flyout";
@import "layout/search-suggest";
@import "layout/cms-block";
@import "layout/bc-issues-fix";


/*
 * page-related sections
 * ----------------------- */
@import 'page/product-detail';
@import 'page/account/account';

/*
* Skin sections
_____________________
 */

@import "skin/shopware/layout/main-navigation";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

//Custom Fonts

@font-face {
  font-family: 'fontello';
  src: url('../assets/fontello/fontello.woff2') format('woff2'),
  url('../assets/fontello/fontello.woff') format('woff'),
  url('../assets/fontello/fontello.ttf') format('truetype'),
  url('../assets/fontello/fontello.svg') format('svg'),
  url('../assets/fontello/fontello.eot') format('eot');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
