/*
Override variable defaults
==================================================
This file is used to override default SCSS variables from the Shopware Storefront or Bootstrap.

Because of the !default flags, theme variable overrides have to be declared beforehand.
https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults
*/
$sw-color-brand-primary:#00a0e0;
$sw-color-brand-secondary:#e3007e;
$gray-bg:#f8f8f8;
$border-color:#f6f6f6;
$background-gray:#f7f7f7;
$border-color-second:#d6d6d6;
$myasset-path: '/bundles/qpool24sw6/assets' !default;
$dark-primary: #007cad;
$theme-green: #37b03a;
$theme-link: #00a0e0;
$theme-grad: #1ebfff;
$theme-red: #e74c3c;