<div class="sw-field sw-block-field sw-field--default into-reset-order-button">
    <sw-button-process
            variant="danger"
            :isLoading="isLoading"
            :processSuccess="isSaveSuccessful"
            @process-finish="saveFinish"
            @click="fullUpdate"
    >{{ $tc('into-symbio-connector.dashboard.fullUpdateButton') }}</sw-button-process>
</div>
