{% sw_extends '@Storefront/storefront/element/cms-element-product-description-reviews.html.twig' %}

{% block element_product_desciption_reviews_tabs_navigation_review %}

    {{ parent() }}
    {% if trustedshops.tsId and trustedshops.tsProductReviewsActive and trustedshops.tsProductReviewsTabActive %}

        {# Trusted Shops Product Tab - Start #}

        <li class="nav-item">
            <a class="nav-link product-detail-tab-navigation-link"
               id="ts-review-tab"
               data-toggle="tab"
               data-offcanvas-tabs="true"
               href="#ts-review-tab-pane"
               role="tab"
               aria-controls="ts-review-tab-pane"
               aria-selected="true">
                {{ trustedshops.tsProductReviewsTabName }}
                <span class="product-detail-tab-navigation-icon">
                    {% sw_icon 'arrow-medium-right' style {'pack':'solid'} %}
                </span>
            </a>
        </li>

        {# Trusted Shops Product Tab - End #}

    {% endif %}
 
{% endblock %}

{% block element_product_desciption_reviews_tabs_content_review %}

    {{ parent() }}
    {% if trustedshops.tsId and trustedshops.tsProductReviewsActive and trustedshops.tsProductReviewsTabActive %}

        {# Trusted Shops Product Tab Content - Start #}

        <div class="tab-pane fade show"
             id="ts-review-tab-pane"
             role="tabpanel"
             aria-labelledby="ts-review-tab">
            {% sw_include '@Storefront/storefront/page/product-detail/review/ts-review.html.twig' %}
        </div>

        {# Trusted Shops Product Tab Content - End #}

    {% endif %}
  
{% endblock %}

