{% sw_extends '@Storefront/storefront/element/cms-element-image-gallery.html.twig' %}

{% block element_image_gallery_slider_dots %}
    <div id="tci-hinweistext">{{ "detail.Abbildung"|trans }}</div>
{% endblock %}