{% sw_extends '@Storefront/storefront/element/cms-element-form.html.twig' %}

 {% block element_form_contact_form_title %}
     <h1 class="card-title mb-4">
         {% if element.config.title.value %}
             {{ element.config.title.value }}
         {%  else %}
             {{ "contact.headline"|trans }}
         {% endif %}
     </h1>
 {% endblock %}

 {% block element_form_newsletter_form_title %}
     <h1 class="card-title mb-4">
         {% if element.config.title.value %}
             {{ element.config.title.value }}
         {%  else %}
             {{ "newsletter.headline"|trans }}
         {% endif %}
     </h1>
 {% endblock %}