{% sw_extends '@Storefront/storefront/page/wishlist/meta.html.twig' %}
{% block layout_head_title_inner %}{{ "wishlist.cartTitle"|trans|sw_sanitize }}{% endblock %}

{% block layout_head_meta_tags_general %}
{{ parent() }}
<meta name="facebook-domain-verification" content="end3adev6a6ygqhk139eggw6q0yu6x" />
<meta name="robots"
                      content="{% block layout_head_meta_tags_robots %}noindex,folow{% endblock %}"/>

{% endblock %}

