<p>Mit diesem Plugin kannst du in den Erlebniswelten Kategorien oder Unterkategorien inklusive Bild auflisten und
    verlinken. Auf der einen Seite kannst du so auf Kategorieseiten jeweils <strong>automatisch alle
        Unterkategorien</strong> anzeigen lassen. Dadurch ist die Navigation in deinem Shop für deine Besucher
    insbesondere bei mehreren Kategorie-Hierarchien übersichtlich und einfach. Auf der anderen Seite
    <strong>kannst du auch beliebige Kategorien verlinken</strong>. So können zum Beispiel direkt auf der Startseite
    deine wichtigsten
    Kategorien vorgestellt werden.
</p>
<p>Die Darstellung kann direkt über Eingabe der CSS-Klassen gesteuert werden. Durch das Bootstrap Framework können
    so beliebige Darstellungsformen für alle Bildschirmgrössen erreicht werden. Für Entwickler ist es zudem sehr einfach
    möglich, die Templates in einem individuellen Theme zu überschreiben und so die Darstellung beliebig zu
    konfigurieren.</p>
<p><br></p>
<h3>Über jkweb</h3>
<p>Die jkweb ag ist eine junge Webagentur aus der Schweiz im Raum
    Basel &amp; Zürich. Unser Schwerpunkt sind technisch anspruchsvolle Projekte, wie beispielsweise die Integration von
    Shop-Projekten in bestehende Warenwirtschaftssysteme. Wir können dabei auf die Expertise von über 30 jungen
    Mitarbeitenden zählen. Für über 500 Kunden konzipieren wir gesamtheitliche Webauftritte, programmieren
    anspruchsvolle Webapps oder gestalten schöne, einleuchtende Designsprachen.</p>
