<p>With this plugin you can list and link categories or subcategories including images in shopping experiences. On one
    side you can <strong>automatically display all subcategories</strong> on category pages. This makes the navigation
    in your shop clear and easy for your visitors, especially if you have several category hierarchies. On the other
    side you can also <strong>link any categories</strong>. For example, your most important categories can be presented
    directly on the front page.</p>
<p>The presentation can be controlled directly by editing the CSS classes. With the Bootstrap
    Framework you can achieve arbitrary ways of presentation for all screen sizes. For developers, it is also very easy
    to overwrite the templates in an individual theme and thus configure the presentation as desired.</p>
<p><br></p>
<h3>About jkweb</h3>
<p>jkweb ag is a young web agency from Switzerland in the Basel &amp; Zurich area. Our focus is on
    technically demanding projects, such as the integration of shop projects into existing warehouse management systems.
    We can count on the expertise of over 30 young employees. For more than 500 customers, we design integrated
    web presences, program sophisticated web apps or create beautiful, clear design languages.</p>
