{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart-summary.html.twig' %}

{% block component_offcanvas_summary_content_info %}
    {% set spedvar = "false" %}
    {% set sperrvar = "false" %}
    {% set paketvar = "false" %}

    {% for shipping in page.shippingMethods %}
        {% if  shipping.translated.name == "Spedition" %}
            {% set spedvar = "true" %}
        {% endif %}

        {% if  shipping.translated.name == "Sperrgut" %}
            {% set sperrvar = "true" %}
        {% endif %}

        {% if  shipping.translated.name == "Paket" %}
            {% set paketvar = "true" %}
        {% endif %}

    {% endfor %}


    <div class="row offcanvas-shipping-info">
                    <span class="col-7 shipping-label shipping-cost">
                        <strong>{{ "checkout.summaryShipping"|trans|sw_sanitize }}</strong>



                        <small {% if page.shippingMethods|length %}class="js-toggle-shipping-selection"{% endif %}>
                             {% if spedvar == "true" %}
                                 {% for shippingMethod in page.shippingMethods %}
                                     {% if  shippingMethod.translated.name == "Spedition" %}
                        {{ shippingMethod.translated.name }}
                                     {% endif %}
                                 {% endfor %}
        {% elseif sperrvar == "true" and spedvar != "true" %}
                                 {% for shippingMethod in page.shippingMethods %}
                                     {% if  shippingMethod.translated.name == "Sperrgut" %}
                        {{ shippingMethod.translated.name }}
                                     {% endif %}
                                 {% endfor %}
        {% else %}
                                 {% for shippingMethod in page.shippingMethods %}
                                     {% if  shippingMethod.translated.name == "Paket" %}
                        {{ shippingMethod.translated.name }}
                                     {% endif %}
                                 {% endfor %}
                             {% endif %}
                        </small>
                    </span>

        <span class="col-5 shipping-value shipping-cost">
                        <strong>+ {{ activeShipping.shippingCosts.totalPrice|currency }}</strong>
                    </span>
    </div>
{% endblock %}

{% block component_offcanvas_summary_content_shipping_select %}
    {% set spedvar = "false" %}
    {% set sperrvar = "false" %}
    {% set paketvar = "false" %}

    {% for shipping in page.shippingMethods %}
        {% if  shipping.translated.name == "Spedition" %}
            {% set spedvar = "true" %}
        {% endif %}

        {% if  shipping.translated.name == "Sperrgut" %}
            {% set sperrvar = "true" %}
        {% endif %}

        {% if  shipping.translated.name == "Paket" %}
            {% set paketvar = "true" %}
        {% endif %}

    {% endfor %}
    <select class="custom-select mt-2 col-12" name="shippingMethodId">
        <option disabled>{{ "checkout.confirmChangeShipping"|trans|sw_sanitize }}</option>

        {% if spedvar == "true" %}
            {% for shippingMethod in page.shippingMethods %}
                {% if  shippingMethod.translated.name == "Spedition" %}
                    <option
                            value="{{ shippingMethod.id }}"
                            {% if shippingMethod.id is same as(activeShipping.shippingMethod.id) %}selected="selected"{% endif %} >
                        {{ shippingMethod.translated.name }}
                    </option>
                {% endif %}
            {% endfor %}
        {% elseif sperrvar == "true" and spedvar != "true" %}
            {% for shippingMethod in page.shippingMethods %}
                {% if  shippingMethod.translated.name == "Sperrgut" %}
                    <option
                            value="{{ shippingMethod.id }}"
                            {% if shippingMethod.id is same as(activeShipping.shippingMethod.id) %}selected="selected"{% endif %} >
                        {{ shippingMethod.translated.name }}
                    </option>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for shippingMethod in page.shippingMethods %}
                {% if  shippingMethod.translated.name == "Paket" %}
                    <option
                            value="{{ shippingMethod.id }}"
                            {% if shippingMethod.id is same as(activeShipping.shippingMethod.id) %}selected="selected"{% endif %} >
                        {{ shippingMethod.translated.name }}
                    </option>
                {% endif %}
            {% endfor %}
        {% endif %}
    </select>

{% endblock %}