{% sw_extends '@JkwebShopwareCategoryListingPlugin/storefront/element/cms-element-category-listing/category-item.html.twig' %}

{% block element_category_listing_item_heading %}
    {% if(headingPosition == 'top' or headingPosition == 'overlay') %}
        <p class="cms-element-category-listing-item-title cms-element-category-listing-item-title--{{ headingPosition }}">
            {% block element_category_listing_item_heading_inner %}
                <a href="{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}"
                   class="stretched-link" title="{{ category.translated.name }}">
                    {{ category.translated.name }}
                </a>
            {% endblock %}
        </p>
    {% endif %}
{% endblock %}

 {% block element_category_listing_item_heading_bottom %}
                {% if(headingPosition == 'bottom') %}
                    <p class="cms-element-category-listing-item-title cms-element-category-listing-item-title--bottom">
                        {% block element_category_listing_item_heading_bottom_inner %}
                            <a href="{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}"
                               class="stretched-link" title="{{ category.translated.name }}">
                                {{ category.translated.name }}
                            </a>
                        {% endblock %}
                    </p>
                {% endif %}
 {% endblock %}
