.main-navigation{
  position: relative;
  .main-navigation-link{
    font-size: 18px;
    line-height: 50px;
    &:hover{
      color: $sw-color-brand-secondary;
    }
    &.home-link {
      .main-navigation-link-text{
        display: none;
      }
      &:before {
        content: "";
        width: 1.0625rem;
        height: .875rem;
        display: inline-block;
        background: url("#{$myasset-path}/icons/Pfad_7.png") top center no-repeat;
      }
      &:hover{
        &:before {
          background: url("#{$myasset-path}/icons/Pfad_7.png") bottom center no-repeat;
        }
      }
      &.active{
        &:before {
          background: url("#{$myasset-path}/icons/Pfad_7.png") bottom center no-repeat;
        }
      }
    }
    &.active{
      color: $sw-color-brand-secondary;
    }
  }
}

.navigation-flyouts{
  .navigation-flyout-bar{
    display: none;
  }
}

@include media-breakpoint-up(md){
  .main-navigation{
    display: block;
  }
}

@include media-breakpoint-up(lg){
  .main-navigation{
    .main-navigation-menu{
      float: right;
    }
  }
}