{#
(c) Neofonie GmbH

This computer program is the sole property of Neofonie GmbH
(http://www.neofonie.de) and is protected under the German Copyright Act
(paragraph 69a UrhG). All rights are reserved. Making copies,
duplicating, modifying, using or distributing this computer program
in any form, without prior written consent of Neofonie, is
prohibited. Violation of copyright is punishable under the
German Copyright Act (paragraph 106 UrhG). Removing this copyright
statement is also a violation.
#}
{% block task_statistics_message_queue_stats %}
    <sw-page class="task-statistics-message-queue-stats">
        {% block task_statistics_message_queue_stats_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block task_statistics_message_queue_stats_smart_bar_header_title %}
                    <h2>
                        {% block task_statistics_message_queue_stats_smart_bar_header_title_text %}
                            {{ $tc('sw-settings.index.title') }}
                            <sw-icon name="small-arrow-medium-right" small>
                            </sw-icon>
                            {{ $tc('task-statistics-message-queue-stats.general.textHeadline') }}
                        {% endblock %}

                        {% block task_statistics_message_queue_stats_smart_bar_header_amount %}
                            <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                            ({{ total }})
                            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}
        {% block task_statistics_message_queue_stats_content %}
            <template slot="content">
                {% block task_statistics_message_queue_stats_table %}
                        <sw-entity-listing
                            v-if="items && !isLoading"
                            :columns="columns"
                            :items="items"
                            :showSelection="false"
                            :allowInlineEdit="false"
                            :allowDelete="false"
                            :showActions="false"
                            class="message-queue-stats-list"
                            :repository="entityRepository">
                        </sw-entity-listing>
                {% endblock %}
            </template>
        {% endblock %}
        {% block task_statistics_message_queue_stats_sidebar %}
            <template #sidebar>
                <sw-sidebar class="task-statistics-message-queue-stats__sidebar">
                    {% block task_statistics_message_queue_stats_sidebar_item %}
                        <sw-sidebar-item
                            icon="default-arrow-360-left"
                            :title="$tc('task-statistics-message-queue-stats.grid.titleSidebarItemRefresh')"
                            @click="onRefresh">
                        </sw-sidebar-item>
                    {% endblock %}
                </sw-sidebar>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
