{% sw_extends '@Storefront/storefront/element/cms-element-product-description-reviews.html.twig' %}

{% block element_product_desciption_reviews_tabs_navigation_review %}

    {{ parent() }}

    {% set pdf_download = element.data.product.media.media %}
    {% set displayDownloads = 0 %}

    <li class="nav-item">
        {% for pdfActive in pdf_download %}
            {% if pdfActive.fileExtension == "pdf" %}
                {% set displayDownloads = 1 %}
            {% endif %}
        {% endfor %}
        {% if displayDownloads != null %}
            <a class="nav-link {% if (ratingSuccess == 1) or (ratingSuccess == -1) %}active{% endif %} product-detail-tab-navigation-link"
               id="download-tab-ic"
               role="tab"
               data-offcanvas-tabs="true"
               href="#download-tab-ic-pane"
               data-toggle="tab"
               aria-controls="download-tab-ic"
               aria-selected="true">
                {{ "ic-download-tap.title.name"|trans|sw_sanitize }}
                <span class="product-detail-tab-navigation-icon">
                    {% sw_icon 'arrow-medium-right' style {'pack':'solid'} %}
                </span>
            </a>
        {% endif %}
    </li>

{% endblock %}

{% block element_product_desciption_reviews_tabs_content_review %}

    {{ parent() }}

    <div class="tab-pane fade show {% if (ratingSuccess == 1) or (ratingSuccess == -1) %}active{% endif %}"
         id="download-tab-ic-pane"
         role="tabpanel"
         aria-labelledby="download-tab-ic">

        {% block utilities_offcanvas %}
            {% block utilities_offcanvas_close %}
                <button class="btn btn-light btn-block offcanvas-close js-offcanvas-close sticky-top">
                    {% block utilities_offcanvas_close_icon %}
                        {% sw_icon 'x' style { 'size': 'sm' } %}
                    {% endblock %}
                    {% block utilities_offcanvas_close_text %}
                        {{ "general.offcanvasCloseMenu"|trans }}
                    {% endblock %}
                </button>
            {% endblock %}
        {% endblock %}

        {% set filename = page.product.media.media %}

        {% for filenames in filename %}

            {% set fileExtension = filenames.fileExtension %}

            {% if fileExtension == "pdf" %}
                {% set fileExtensionSizeMb = filenames.fileSize / 1000 %}
                {% if fileExtensionSizeMb < 4000 %}

                    <div>
                        <a href="{{ filenames.url }}" download>

                            <img src="https://img.icons8.com/color/48/000000/export-pdf.png"/>
                        </a>
                        <a href="{{ filenames.url }}" download>
                            {% if filenames.title != null %}
                                {{ filenames.title }}
                            {% else %}
                                {{ filenames.FileName }}
                            {% endif %}
                        </a>
                    </div>
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}

