{% sw_extends '@Storefront/storefront/element/cms-element-image-gallery.html.twig' %}

{# MOVED INTO SYMBIO CONNECTOR PLUGIN #}
{#{% block element_image_gallery_inner_item %}#}
{#    {% if image.fileExtension != "pdf" %}#}
{#        <div class="gallery-slider-item-container">#}
{#            <div class="gallery-slider-item is-{{ displayMode }} js-magnifier-container"{% if minHeight and  (displayMode == "cover" or displayMode == "contain" ) %} style="min-height: {{ minHeight }}"{% endif %}>#}
{#                {% set attributes = {#}
{#                    'class': 'img-fluid gallery-slider-image magnifier-image js-magnifier-image',#}
{#                    'alt': (image.translated.alt ?: fallbackImageTitle),#}
{#                    'title': (image.translated.title ?: fallbackImageTitle),#}
{#                    'data-full-image': image.url#}
{#                } %}#}

{#                {% if displayMode == 'cover' or displayMode == 'contain' %}#}
{#                    {% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}#}
{#                {% endif %}#}

{#                {% if isProduct %}#}
{#                    {% set attributes = attributes|merge({ 'itemprop': 'image' }) %}#}
{#                {% endif %}#}

{#                {% sw_thumbnails 'gallery-slider-image-thumbnails' with {#}
{#                    media: image#}
{#                } %}#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block element_image_gallery_slider_dots_button %}
    {% if image.fileExtension != "pdf" %}
        <button class="base-slider-dot" data-nav-dot="{{ loop.index }}" tabindex="-1"></button>
    {% endif %}

{% endblock %}

{# MOVED INTO SYMBIO CONNECTOR PLUGIN #}
{#{% block element_image_gallery_inner_thumbnails_items %}#}
{#    {% for image in mediaItems %}#}
{#        {% if image.fileExtension != "pdf" %}#}
{#        {% block element_image_gallery_inner_thumbnails_item %}#}
{#            <div class="gallery-slider-thumbnails-item">#}
{#                {% block element_image_gallery_inner_thumbnails_item_inner %}#}
{#                    <div class="gallery-slider-thumbnails-item-inner">#}
{#                        {% set attributes = {#}
{#                            'class': 'gallery-slider-thumbnails-image',#}
{#                            'alt': (image.translated.alt ?: fallbackImageTitle),#}
{#                            'title': (image.translated.title ?: fallbackImageTitle)#}
{#                        } %}#}

{#                        {% if isProduct %}#}
{#                            {% set attributes = attributes|merge({ 'itemprop': 'image' }) %}#}
{#                        {% endif %}#}

{#                        {% sw_thumbnails 'gallery-slider-thumbnails-image-thumbnails' with {#}
{#                            media: image,#}
{#                            sizes: {#}
{#                                'default': '200px'#}
{#                            }#}
{#                        } %}#}
{#                    </div>#}
{#                {% endblock %}#}
{#            </div>#}
{#        {% endblock %}#}
{#    {% endif %}#}
{#{% endfor %}#}
    
{#{% endblock %}#}
                    