/*
Account Style
==============================================
Additional styling for bootstrap container layout.

https://getbootstrap.com/docs/4.3/layout/overview/

// Breakpoints
@include media-breakpoint-up(sm);       // Greater-Than 576px
@include media-breakpoint-up(md);       // Greater-Than 768px
@include media-breakpoint-up(lg);       // Greater-Than 992px
@include media-breakpoint-up(xl);       // Greater-Than 1200px
*/

.is-act-checkoutregisterpage {
    .checkout {
        .checkout-aside {
            display: none !important;
        }
    }
}

.login-card,
.register-card {
    padding: 30px;
    border: 1px solid $border-color;

    .form-label {
        display: none;
    }

    .card-title {
        margin: 0 0 30px 0;
        padding: 0;
        border: none;
        font-style: normal;
        font-weight: 700;
        display: block;
    }
}

.login-card .col-md-6,
.register-card .col-sm-6 {
    flex: auto;
    max-width: none;
    .custom-select{
        max-width: 290px;
    }
}

.account-register {
    margin-top: 40px;
    margin-bottom: 60px;
    .login-advantages{
        display: none;
    }
}

.account-menu-dropdown{
    .account-menu-login{
        padding-bottom: 0;
        border-bottom: 0;
    }
    .list-group-item{
        &:first-child {
            display: none;
        }
    }
}

.is-act-checkoutregisterpage {
    .data-protection-information {
        position: relative;
        padding-left: 20px;

        .custom-control-input {
            position: absolute;
            left: 0;
            top: 6px;
            z-index: 9;
        }
    }
}

.is-act-recoveraccountform {
    .account-recover-password {
        margin-top: 30px;
        border: 1px solid $border-color;
        padding: 20px;

        .col-md-8.col-lg-6 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .card-body {
            text-align: center;

            .form-control {
                max-width: 400px;
                margin: 20px auto;
            }
        }

        .account-recover-password-info {
            margin-bottom: 30px;
        }

        .account-recover-password-back,
        .account-recover-password-submit {
            max-width: 200px;
            display: inline-block;
            width: 100%;
        }
    }
}

.register-different-shipping {
    .custom-control-label {
        font-style: normal;
        font-weight: 500;
        text-transform: inherit;
    }
}

.login-form-description,
.form-text,
.custom-control label,
.register-required-info,
.register--spoint-description {
    font-style: normal;
    font-weight: 500;
    text-transform: inherit;
}

.register--spoint-description {
    margin-bottom: 5px;
}

.login-submit,
.register-submit {
    button {
        border-radius: 10px;
        max-width: 220px;
    }
}

@media only screen and (max-width: 767px) {
    .custom-control-input.js-different-shipping-checkbox {
        display: none;
    }

    .custom-control.custom-checkbox.data-protection-information,
    .form-text.privacy-notice.custom-control.custom-checkbox{
        input[type="checkbox"] {
            display: none;
        }
    }
}

// media-breakpoint-up(sm)  // Greater-Than 576px
@include media-breakpoint-up(sm) {
}

// media-breakpoint-up(md)  // Greater-Than 768px
@include media-breakpoint-up(md) {
    .is-act-recoveraccountform {
        .account-recover-password {
            .col-md-8.col-lg-6 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    .is-act-checkoutregisterpage {
        .checkout {
            .checkout-main {
                flex-basis: 100% !important;
                max-width: 100% !important;
            }
        }
    }
}

// media-breakpoint-up(lg)  // Greater-Than 992px
@include media-breakpoint-up(lg) {
    .is-act-recoveraccountform {
        .account-recover-password {
            .col-md-8.col-lg-6 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    .is-act-checkoutregisterpage {
        .checkout {
            .checkout-aside {
                display: none !important;
            }
        }
    }
}

// media-breakpoint-up(xl)  // Greater-Than 1200px
@include media-breakpoint-up(xl) {
}