.is-act-home {
    .cms-sections {
        .landing-wrapper {
            

            .cms-block-cogi-layout-05 {
                .cms-block-container {
                    max-width: 1400px;
                    margin: 0 auto;
                }
            }
        }
    }
}


@include media-breakpoint-up(lg) {
    .is-act-home {
        .cms-sections {
            .landing-wrapper {
                .cms-block-category-listing {
                    margin-bottom: 30px;
                }

                .cms-block-product-slider {
                    margin-bottom: 30px;
                }
            }
        }
    }
}