.footer-main {
  background: $gray-bg;
  .footer-column-headline {
    color: $black;
    font-weight: 700;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    line-height: 32px;
    height: 48px;
    clear: both;

    &.show {
      border-bottom: 0;
    }
  }
  .footer-column {
    &.col-md-3{
      padding: 0;
    }
    .footer-column-content {
      padding-left: 20px;
      padding-right: 20px;
      &.show {
        border-bottom: 1px solid #ccc;
      }
      .icon-instagram{
        background: url("#{$myasset-path}/icons/icon-instagram.png") center center no-repeat $brand-secondary;
        background-size: 70% auto;
        margin: 5px 10px 0 0;
        display: inline-block;
        width: 40px;
        height: 40px;
        border: 1px solid rgba(0,0,0,0.07000000000000001);
        -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
        -webkit-box-shadow: 5px 5px 5px rgb(0 0 0 / 5%);
        box-shadow: 5px 5px 5px rgb(0 0 0 / 5%);
        text-indent: -10000px;
        text-align: left;
        float: left;
        -webkit-transition: .4s ease-out 0s;
        -moz-transition: .4s ease-out 0s;
        -o-transition: .4s ease-out 0s;
        transition: .4s ease-out 0s;
        border-radius: 10px;
        &:hover{
          background-color:  $theme-grad;
        }
      }
      .icon-facebook {
        display: inline-block;
        transition: .4s ease-out 0s;
        &:before {
          content: "\F230";
          font-family: 'fontello';
          font-size: 76px;
          line-height: 76px;
        }
        &:hover{
          color: $theme-grad;
        }
      }
    }
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .qp--contact-info{
    p {
      position: relative;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      padding-left: 3.75rem;
      &:before{
        font-family: fontello;
        font-size: 1.5rem;
        color: #fff;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        border-radius: 50px;
        background-clip: padding-box;
        text-align: center;
        left: 0rem;
        top: 0rem;
        position: absolute;
        background: #00a0e0;
      }
      &.qp--f-mail{
        &:before{
          content: "\E846";
        }
      }
      &.qp--f-tel{
        &:before{
          content: "\E847";
        }
      }
      strong{
        display: block;
        font-size: 1.25rem;
        a{
          text-decoration: underline;
          margin: 0;
        }
      }
    }
  }
  .footer-link {
    font-size: 16px;
    font-weight: 600;

    &:hover {
      color: $sw-color-brand-secondary;
    }
  }

  .footer-bottom{
    padding: .9375rem .625rem 0rem .625rem !important;
    border-top: 1px solid $border-color;
    p {
      font-size: .75rem;
      margin-bottom: 0;
    }
    .footer-copyright {
      font-size: .75rem;
      padding: 5px 0 15px 0;
      .icon-shopware {
        display: none;
      }
    }
  }

  .footer-logo{
    &.is-payment,
    &.is-shipping{
      float: left;
      margin: 2% 3% 1% 0;
      width: 30%;
      height: auto;
      display: inline-block;
      max-width: 100px;
      img{
        width: 100%;
        border-radius: 10px;
        border: 1px solid rgba(0,0,0,0.05);
      }
    }
  }
}

.cus-text-section {
  &.newsletter {
    display: block;
    float: left;
    text-align: center;
    width: 100% !important;
    padding: 40px;
    background: $sw-color-brand-primary;
    color: $white;

    .container {
      max-width: 960px;
      margin: 0 auto;
      text-align: left;
    }

    .qp--newsletter-form {
      position: relative;
      &:before {
        content: "";
        width: 6.875rem;
        height: 7.5rem;
        display: block;
        position: static;
        left: 0rem;
        background: url("#{$myasset-path}/icons/mail002_-_E02E.png") left center no-repeat;
        background-size: auto;
        margin: 0 auto 30px auto;
      }
    }

    .head {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 0rem;
      margin-bottom: .5rem;
      font-weight: 700;
      color: #fff;
      text-align: left;
    }

    .text {
      font-size: .9375rem;
      line-height: 1.4375rem;
      margin-bottom: .9375rem;
      font-weight: 400;
      color: #fff;
      text-align: left;
    }

    input {
      border-radius: 25px !important;
      background-clip: padding-box !important;
      border: none;
      height: 3.125rem;
      padding: 0rem 1.25rem 0rem 1.25rem;
      font-weight: 400;
      width: 68%;
      margin-bottom: .625rem;
    }

    button {
      vertical-align: middle;
      color: #fff;
      background: #e3007e;
      border-radius: 25px !important;
      background-clip: padding-box !important;
      font-size: 1.0625rem;
      font-weight: 700;
      text-align: center;
      border: none;
      height: 3.125rem;
      width: 100%;
    }

    .confirm-alert{
      margin-top: 30px;
    }
  }
}

@include media-breakpoint-up(md) {
  .footer-main {
    .footer-column-headline {
      padding-left: 0;
      padding-right: 0;
      height: auto;
      border: none;
      border-bottom: 1px solid $border-color-second;
      margin-bottom: 10px;

    }
    .footer-column{
      &.col-md-3{
        padding-left: 20px;
        padding-right: 20px;
        max-width: 20%;
        flex: 0 0 20%;
        &:nth-child(1){
          max-width: 33%;
          flex: 0 0 33%;
        }
        &:nth-child(4){
          max-width: 27%;
          flex: 0 0 27%;
        }
      }
      .footer-column-content{
        padding-left: 0;
        padding-right: 0;
        .icon-instagram{
          width: 4.125rem;
          height: 4.125rem;
        }
      }
    }
    .container{
      padding: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .footer-main {
    background: $gray-bg;

    .footer-column-headline {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
	.footer-columns {
		width: 100%;
		margin: 0;
    } 

    p {
      font-size: 1.0625rem;
      line-height: 1.5625rem;
    }

    .footer-link {
      font-size: 17px;
      line-height: 35px;
    }
  }

  .cus-text-section{
    &.newsletter{
      .qp--newsletter-form {
        text-align: left;
        padding: 0rem 0rem 0rem 13.75rem;
        &:before {
          position: absolute;
          left: .625rem;
          margin: 0;
          padding-right: 3.75rem;
          border-right: 1px solid #fff;
          height: 11.25rem;
          width: 171px;
        }
      }

      input{
        margin-bottom: 0;
      }

      button{
        width: 12.6875rem;
        margin-left: 10px;
      }
    }
  }
}
@media only screen and (min-width: 1400px) {
  .footer-main{
    .container{
      max-width: 1400px;
    }
  }

  .cus-text-section{
    &.newsletter{
      .qp--newsletter-form{
        &:before{
          left: 0;
        }
      }
    }
  }
}


@media screen and (max-width: 767px) {


  .footer-main .footer-column .footer-column-content .icon-facebook:before {

    font-size: 43px;
    line-height: 50px;
  }


}
