
body{
  font-family: 'Roboto', serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Roboto', serif;
}

.ts-rating-light{
  &.testimonial{
    margin-top: 20px;
  }
}

.base-slider-controls{
  button {
    width: 40px;
    height: 40px;
    background: $white;
    opacity: 1;
    &:hover{
      .icon{
        color: $sw-color-brand-secondary;
      }
    }
  }
  .icon {
    color: $sw-color-brand-primary;
    width: 35px;
    height: 35px;
    svg {
      top: -6px;
    }
  }
}

input,
.form-control,
.custom-select{
border-radius: 10px;
}

h1{
  font-size: 1.625rem;
  line-height: 1.75rem;
  margin: 2.125rem 0rem 1.25rem 0rem;
  color: $sw-color-brand-primary;
}

a:hover {
  text-decoration: none;
  color: $theme-link;
}

.is-act-home{
  .cms-breadcrumb{
    display: none;
  }
}

.container-main{
  padding-top: 0;
}

.btn-primary{
  background-color: $theme-grad;
  background-image: linear-gradient(to bottom, $theme-grad 0%, $theme-link 100%);
}

.form-control,
.custom-select{
  background-color: #f8f8fa;
  border: 1px solid #f6f6f6;
  border-top-color: #e9e9e9;
}


@include media-breakpoint-up(lg) {
  .is-act-home {
    .cms-sections {
      .landing-wrapper {
        .cms-block-category-listing {
          margin-bottom: 30px;
        }
        .cms-block-product-slider {
          margin-bottom: 30px;
        }
      }
    }
  }
}