.header-main {
  .header-row {
    .header-actions-col {
      width: 100%;
      order: 1;
      .icon--basket {
        content: "";
        width: 1.3125rem;
        height: .875rem;
        display: inline-block;
        vertical-align: middle;
        background: url("#{$myasset-path}/icons/cart-icons.png") top center no-repeat;
      }
      .icon--heart {
        content: "";
        width: 1rem;
        height: .875rem;
        display: inline-block;
        vertical-align: middle;
        background: url("#{$myasset-path}/icons/Pfad_6.png") top center no-repeat;
      }
      .icon--account{
        &:before{
          content: "\E83C";
          font-family: 'fontello';
          font-style: normal;
          font-size: 15px;
          color: $black;
        }
      }
      .account--display{
        .icon-arrow-down{
          display: none;
        }
      }
      .notepad--name,
      .name--account,
      .menu-text,
      .cart--display {
        font-size: 12px;
        font-weight: normal;
        text-align: center;
        padding-top: 5px;
        display: block;
        line-height: normal;
      }
      .search-toggle{
        display: none;
      }
      .icon-stack{
        color: $black;
      }
    }
    .header-search-col{
      position: absolute;
      top: 25px;
      max-width: 60%;
      right: 0;
      .collapse{
        display: block;
      }
      .header-search-form{
        max-width: 1400px;
        margin: 0 auto;
        .input-group-append{
          z-index: 4;
        }
      }
    }
  }
  .header-cart{
    position: relative;
    .header-cart-badge{
      display: block;
      background: #37b03a;
    }
  }
  .header-wishlist{
    position: relative;
  }
  .navigation-flyouts {
	right: 3px;
  }
}
.account-menu-dropdown{
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
  .account-menu-register{
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}


.header-logo-col {
  .header-logo-main {
    img {
      width: 135px;
    }
  }
}

.header-minimal {
	.header-row {
		.notepad--name {
			display:none;
		}
	}
}

@include media-breakpoint-up(md) {
  .header-main {
    .header-row {
      border-top: 1px solid $border-color;
      clear: both;
      display: block;
      padding-bottom: 0;
      position: relative;
      .header-actions-col {
        position: absolute;
        width: auto;
        right: 0px;
        top: -40px;
        .header-actions-btn{
          padding: 1px 23px;
          &.header-cart-btn{
            background: rgba(0,0,0,0.03);
          }
          &:hover{
            color: $sw-color-brand-secondary;
          }
        }
        .notepad--name,
        .cart--display{
          display: inline-block;
          font-size: 14px;
        }
      }
      .header-search-col {
        flex-basis: auto;
        float: left;
        width: 100%;
        height: auto;
        background: $sw-color-brand-primary;
        padding: 15px 0;
        position: relative;
        z-index: 745;
        max-width: none;
        top: 0;

        .header-search {
          width: 100%;
          padding: 0 30px 0 30px;
          max-width: 1466px;
          margin: 0 auto;
          background: none;
          border: none;
          position: relative;

          .header-search-input {
            background: #f8f8fa;
            border: 1px solid #f6f6f6;
            color: $sw-color-brand-secondary;
            border-radius: 10px;

            &::placeholder {
              color: $black;
            }
          }

          .header-search-btn {
            appearance: none;
            padding: 0rem .625rem 0rem .625rem;
            position: absolute;
            z-index: 2;
            border: 0 none;
            background: transparent;
            outline: none;
            color: $sw-color-brand-primary;
            right: 5px;
            top: 3px;

            .icon {
              color: $sw-color-brand-primary;
            }
          }

        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .header-main {
    .container {
      max-width: none;
      padding: 0;
    }

    .header-row {
      .container {
        max-width: none;
        padding: 0;
      }

      .logo-menu-wrapper {
        max-width: 1400px;
        margin: 0 auto;
      }

      .header-actions-col{
        right: 70px;
      }
    }

    .header-logo-col {
      width: 20%;
      display: inline-block;
      vertical-align: middle;
      padding-left: 35px;
      flex: inherit;
      text-align: left;

      .header-logo-picture{
        text-align: left;
      }

      .header-logo-main {
        text-align: left;
      }
    }
	.header-search-col {
		margin: 0 -5px;
	}
    .nav-main {
      width: 79%;
      display: inline-block;
      vertical-align: middle;
    }

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
	  background-color: #fff;
      box-shadow: 0px 0 30px rgb(0 0 0 / 15%) !important;
      .top-bar {
        display: none !important;
      }
      .topbar--features {
        display: none !important;
      }
      .header-row {
        padding-top: 0;
        background: $white;
        transition: .5s all;
      }

      .main-navigation{
        .main-navigation-link {
          line-height: normal;
        }
      }
      .navigation-flyouts {
        top: 45px;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .header-main{
    .header-logo-col{
      padding-left: 0;
      width: 15%;
      padding-right: 5px;
    }
    .nav-main {
      width: 84%;
    }
	&.fixed {
		.header-logo-col{
			padding: 5px 5px 5px 0px;
		}
    }   
  }
  .main-navigation{
    .main-navigation-link{
      &:last-child{
        padding-right: 0;
      }
    }
  }
  .header-logo-col {
    .header-logo-main {
      img {
        width: 180px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
	.header-main{
	    position: sticky;
	    top:0;
	    z-index: 1000;
	    background-color: #fff;
		&.fixed {
		  box-shadow: 0px 0 30px rgb(0 0 0 / 15%) !important;
		 .topbar--features {
			display: none !important;
		 }
	  }
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
	.header-main{
		&.fixed {
		  position: fixed;
		  top: 0;
		  left: 0;
		  right: 0;
		  z-index: 1000;
		  box-shadow: 0px 0 30px rgb(0 0 0 / 15%) !important;
		  background-color: #fff;
		  .top-bar {
			display: none !important;
		  }
		  .topbar--features {
			display: none !important;
		  }
		  .header-row {
			padding-top: 0;
			background: $white;
			transition: .5s all;
		  }
      }
	}
}
