.navigation-flyouts{
  top: 71px;
  .navigation-flyout-categories{
    .is-level-1{
      .navigation-flyout-link{
        position: relative;
        &:hover{
          color: $sw-color-brand-secondary;
          padding-left: 0;
        }
        &:before{
          content: "\E805";
          font-family: 'fontello';
          font-size: 10px;
          position: absolute;
          top: 8px;
          font-weight: bold;
          left: -9px;
          color: $sw-color-brand-secondary;
        }
      }
    }
  }
}

.navigation-flyout{
  box-shadow: 0 25px 25px -15px rgb(0 0 0 / 20%) !important;
}