@include media-breakpoint-up(lg){
  .search-suggest-container{
    width: 100%;
    /*column-count: 2;*/
    padding-bottom: 50px;
    .search-suggest-product {
      border-bottom: 1px solid #f6f6f6;
      line-height: 36px;
    }
    .search-suggest-total{
      position: absolute;
      bottom: 5px;
      left: 10px;
      right: 10px;
      .icon {
        width: 14px;
        height: 14px;
        color: $theme-link
        svg {
          top: 2px;
        }
      }
      .search-suggest-total-count {
        color: $theme-link;
      }
    }
  }
}