.top-bar {
  .top-bar-nav {
    .btn {
      font-weight: normal;

      &:hover {
        color: $sw-color-brand-secondary;
      }

      svg {
        top: 3px;
      }
    }
  }

  .nav--entry {
    &.account {
      border-left: 1px solid $border-color;
    }

    &.service {
      border-right: 1px solid $border-color;
    }

    &.search{
      .search-toggle-btn{
        &:hover{
          .icon--search{
            &:before{
              background: url("#{$myasset-path}/icons/Vereinigungsmenge_1.png") bottom center no-repeat;
            }
          }
        }
      }
      .icon--search{
        &:before{
          content: "";
          width: .875rem;
          height: .9375rem;
          display: inline-block;
          vertical-align: middle;
          background: url("#{$myasset-path}/icons/Vereinigungsmenge_1.png") top center no-repeat;
        }
      }
    }

    .header-wishlist-btn{
      &:hover{
        .icon--heart{
          &:before{
            background: url("#{$myasset-path}/icons/Pfad_6.png") bottom center no-repeat;
          }
        }
      }
    .icon--heart{
      &:before{
        content: "";
        width: 1rem;
        height: .875rem;
        display: inline-block;
        vertical-align: middle;
        background: url("#{$myasset-path}/icons/Pfad_6.png") top center no-repeat;
      }
    }
    }
    .header-cart-btn{
      &:hover{
        .icon--basket{
          &:before{
            background: url("#{$myasset-path}/icons/cart-icons.png") bottom center no-repeat;
          }
        }
      }
    .icon--basket{
      &:before{
        content: "";
        width: 1.3125rem;
        height: .875rem;
        display: inline-block;
        vertical-align: middle;
        background: url("#{$myasset-path}/icons/cart-icons.png") top center no-repeat;
      }
    }
    }

  }

  .header-service-menu-list {
    position: absolute;
    width: 180px;
    background: rgb(255, 255, 255);
    z-index: 1001;
    border: 1px solid rgb(246, 246, 246);
    top: 50px;
    border-radius: 5px;
    padding-left: 0;
    display: none;
    &.active{
      display: block;
    }

    .footer-service-menu-item {
      display: block;
      padding: 0 10px;

      .footer-service-menu-link {
        font-weight: normal;
      }
    }
  }

}

.topbar--features {
  background: $sw-color-brand-primary;
  order: 3;

  & > div {
    display: table;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
    line-height: 38px;

    & > div {
      display: none;
      &.feature.one{
        display: table-cell;
        text-align: center;
        padding-left:5px;
      }

      span {
        color: $white;
        font-size: 13px;
        line-height: 1;
        height: auto;
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 3px;
      }

      i {
        color: $white;
        padding-right: 10px;
        font-size: 13px;
        line-height: 1;
        vertical-align: middle;
        display: inline;
        padding-bottom: 3px;
        &.icon--check{
          &:before{
            content: "";
            width: .875rem;
            height: .8125rem;
            display: inline-block;
            background: url("#{$myasset-path}/icons/Pfad_8.png") center no-repeat;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .top-bar {
    max-width: 1400px;
    margin: 0 auto;

    .top-bar-nav {
      display: block;
      clear: both;

      .header-cart-btn{
        background: rgba(0,0,0,0.03);
      }

      .box-left {
        width: 50%;
        float: left;

        &.right {
          float: right;
          text-align: right;
        }
      }

      .nav--entry {
        display: inline-block;
      }
    }
  }
}

@include media-breakpoint-up(lg){
  .topbar--features {
    order: 2;
    & > div{
      & > div{
        display: table-cell;
        &.feature.one{
          text-align: left;
        }
      }
    }
  }
}

@include media-breakpoint-up(1400px) {
  .topbar--features {
    order: 2;
    & > div {
      padding: 0 0;
    }
  }
}
.search-suggest-product > .align-items-center {
  align-items: normal;
}
