.sw-cms-preview-category-listing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding: 15px;

    h2 {
        margin-top: .3rem;
        margin-bottom: 0;
        font-size: 90%;
    }
}
