.breadcrumb{
  &.cms-breadcrumb{
    max-width: none;
    border-bottom: 1px solid $border-color;
    .breadcrumb{
      margin: 0;
      padding: 0;
      a{
        color: $black;
        font-weight: normal;
        .icon--home{
          &:before {
            content: "";
            width: 1.0625rem;
            height: .875rem;
            display: inline-block;
            background: url("#{$myasset-path}/icons/Pfad_7.png") top center no-repeat;
          }
        }
      }
    }
  }
}