$brand-secondary: $sw-color-brand-secondary;
$sw-color-brand-secondary: #576574 !default;
//Hero slider
.hero-slider {
  .hero-slider-navigation-btn {
    background: none !important;
    color: $sw-color-brand-primary;
    .icon{
      width: 40px;
      height: 40px;
    }
    &:hover{
      color: $sw-color-brand-secondary;
    }
  }
  .hero-slider-menu {
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    width: 60px;

    .hero-slider-menu-item {
      width: 16px;
      height: 16px;
      border: none;
      background: $white;

      &.active {
        background: $sw-color-brand-primary;

        &:after {
          background: $sw-color-brand-primary;
        }
      }

      &:after {
        opacity: 1;
        background: $white;
      }
    }
  }
  .hero-slider-scroll-overlay {
    &.hs-horizontal-align-center {
      display: none;
    }
  }

  .hero-slider-content-container{
    &.hs-vertical-align-center {
      background: rgba(0, 0, 0, 0.8);
      justify-content: unset;
      height: auto;
      padding: 20px;
      top: 90px;
      left: 0;
      right: 0;
      max-width: none;
    }
  }
  .hero-slider-slide{
    .hero-slider-description {
      max-width: none;
      .hero-slider-content-before {
        font-size: 20px;
        line-height: 1;
      }
      .hero-slider-headline {
        font-size: 38px;
        line-height: 1;
      }
      .hero-slider-cta-btn {
        line-height: 3rem;
        border-radius: 50px;
        width: 230px;
        font-size: 1.0625rem;
        &:hover{
          background: $brand-secondary;
          border-color: $brand-secondary;
        }
      }
    }
  }
}

//Category teaser
.cms-element-category-listing{
  p{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 0;
    overflow: visible;
    a {
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      opacity: 0.7;
      &:hover {
        opacity: 1;
        &:before{
          background: url("#{$myasset-path}/icons/cat-btn.png") bottom center no-repeat;
        }
      }

      &:before {
        content: "";
        position: absolute;
        right: .625rem;
        bottom: -8px;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50px;
        background-clip: padding-box;
        -webkit-transition: .2s;
        transition: .2s;
        background: url("#{$myasset-path}/icons/cat-btn.png") top center no-repeat;

      }
    }
  }
  .cms-element-category-listing-item {
    margin-bottom: 10px;
     .cms-element-category-listing-item-image {
      transform: inherit;
    }
  }
  .row{
    margin-left: -7px;
    margin-right: -8px;
  }
  .col-md-6{
    padding-left: 7px;
    padding-right: 8px;
  }
}

//Product sliders
.cms-block-product-slider{
  .product-slider{
    padding: 0;
    &.has-nav {
      padding-left: 0;
    }
    .cms-element-title {
      font-size: 20px;
      line-height: 26px;
      border-bottom: 1px solid $border-color-second;
      margin-bottom: 10px;
      margin-top: 30px;
      padding-bottom: 10px;
      .cms-element-title-paragraph {
        margin-bottom: 0;
      }
    }
    .product-slider-container{
      .product-slider-item{
        .product-box {
          border: none;
          .product-name {
            font-size: 20px;
            line-height: 26px;
            font-weight: 700;
            height: 80px;
            text-align: center;
          }
          .product-price-wrapper{
            text-align: center;
            .product-price {
              font-size: 20px;
              line-height: 27px;
            }
            .list-price-price{
              font-weight: bold;
            }
          }
          .product-price-unit {
            text-align: center;
            margin-bottom: 10px;
            height: 15px;
            font-size: 11px;
            line-height: 20px;
          }
          .product-rating,
          .product-variant-characteristics,
          .product-description,
          .product-action,
          .product-wishlist{
            display: none;
          }
        }
      }
    }
    .product-box{
      .card-body {
        border: none;
      }
    }
  }
  .base-slider-controls{
    display: none;
  }
  &:hover{
    .base-slider-controls{
      display: block;
    }
  }
}

//homepage two banner
.cms-block-cogi-layout-05{
  .cms-block-container {
    max-height: 200px;
    .cms-text-on-image-container {
	  display: grid;
      grid-template-columns: 1fr 1fr;
      min-height: 200px !important;
      .cms-text-on-image-content {
		position: relative;
        width: 100%;
        order: 1;
        display: block;
        background: $black;
        transform: none !important;
        .h2 {
          font-size: 18px;
          line-height: 1;
          font-weight: bold;
          color: $white;
        }
        p {
          font-size: 16px;
          color: $white;
          font-weight: bold;
        }
        a {
          background: $sw-color-brand-primary;
          color: $white;
          padding: 5px 10px;
          border-radius: 50px;
          width: auto;
          min-width: 120px;
          display: inline-block;
          text-align: center;
          &:hover {
            background: $sw-color-brand-secondary;
            text-decoration: none;
          }
        }
      }
      .cms-text-on-image-content-image {
		position: relative;
		width: 100%;
		order: 2;
		img {
			transform: none;
			zoom: inherit;
			max-width: 375px;
			left: inherit;
			right: 0;
			object-fit: inherit;
		}
	  }
    }
  }
}

//service section
.qp--verteile-widget {
  .cms-block-container {
    padding: 4.6875rem 0rem 4.6875rem 0rem;
    border-bottom: 1px solid #ddd;

    .icon_div {
      margin-bottom: 1.25rem;
      text-align: center;

      img {
        display: inline-block;
        width: 9.375rem;
        height: 9.375rem;
      }
    }

    .service-title {
      text-align: center;

      p {
        margin: 0rem 0rem 0rem 0rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
        color: #000;
      }
    }
  }
}

//Sidebar
.cms-section-sidebar-sidebar-content {
  display: none;
}

//Listing
.cms-section-sidebar-main-content{
  .pos-0{
    &.cms-block-text{
      border: 1px solid $border-color;
      border-radius: 10px;
    }
  }

  .cms-element-text{
    h1 {
      color: $dark-primary;
    }
    h2 {
      color: $dark-primary;
      font-size: 21px;
    }
  }
}

.is-ctl-navigation {
  &.is-act-index {
    .cms-element-category-listing {
      .row {
        display: block;
      }

      p {
        position: static;

        a {
          color: $black;
          white-space: normal;
          opacity: 1;
          border: 1px solid $border-color;
          display: block;
          border-radius: 10px;
          text-align: center;
          line-height: normal;
          padding: 13px 0px;
          min-height: 66px;

          &:hover{
            color: $sw-color-brand-primary;
            border-color: $sw-color-brand-primary;
          }

          &:before {
            content: none;
          }

          &:after {
            content: none;
          }
        }
      }

      .col-md-6 {
        display: block;
        max-width: 100%;
      }

      .cms-element-category-listing-category-item {
        .cms-element-category-listing-item-image-wrapper {
          display: none;
        }
      }
    }
  }
}

.cms-block-category-navigation{
    border: 1px solid $border-color;
    border-radius: 10px;
  .category-navigation-link {
    font-size: 14px;
    padding: 6px 0px;
  }
  .category-navigation{
    &.level-0{
      & > .category-navigation-entry{
        &:last-child{
          border: none;
        }
      }
    }
    &.level-1{
      padding-left: 15px;
      .category-navigation-link{
        &:before {
          content: "\E805";
          font-family: 'fontello';
          font-size: 6px;
          top: -3px;
          position: relative;
          font-weight: bold;
        }
      }
    }
  }
  .category-headline {
    font-size: 1rem;
    border-bottom: 1px solid $border-color;
    color: $dark-primary;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

.cms-block-product-listing {
  border: 1px solid $border-color;
  border-radius: 10px;
  .cms-element-product-listing-actions{
    background: $background-gray;
    padding: 7px 0 8px;
  }
  .cms-element-product-listing{
    .cms-listing-col{
      margin-bottom: 50px;
    }
    .sorting-text {
      position: absolute;
      left: -60px;
      top: 8px;
      font-weight: bold;
      display: none;
    }
  }
}

.cms-block-cogi-layout-05{
  .cms-block-container{
    max-height: none;
    .cms-element-youtube-video{
      height: 100%;
    }
  }
}

.dryer-three-banners{
  .cogi-grid-item{
    .cms-element-text {
      padding: 0;
      .col-md-4 {
        padding: 0 5px 5px 0;
        img {
          height: 100%;
        }
      }
    }
  }
}

// Listing end

@include media-breakpoint-up(md){
  .cms-element-category-listing{
    .row{
      margin-left: -7px;
      margin-right: -8px;
    }
    .col-md-6{
      padding-left: 7px;
      padding-right: 8px;
    }
  }

  .hero-slider{
    max-height: 485px;
    .hero-slider-content-container{
      &.hs-vertical-align-center{
        max-width: 430px;
        right: 60px;
        left: inherit;
        top: 120px;
      }
    }
  }

  .is-ctl-navigation{
    &.is-act-index{
      .cms-element-category-listing{
        .col-md-6{
          display: inline-block;
          max-width: 50%;
          float: left;
        }
      }
    }
  }

  //homepage two banner
  .cms-block-cogi-layout-05{
    .cms-block-container {
      .cms-text-on-image-container {
        .cms-text-on-image-content-image img {
          max-width: 335px;
          object-fit: inherit;
        }
      }
    }
  }

}

@include media-breakpoint-up(lg){
  .is-ctl-navigation{
    &.is-act-index{
      .cms-element-category-listing{
        .col-md-6{
          display: inline-block;
          max-width: 25%;
          float: left;
        }
      }
    }
  }
  //Sidebar
  .cms-section-sidebar-sidebar-content {
    display: block;
  }
  .cms-block-product-listing {
    .cms-element-product-listing{
      .sorting-text {
        display: block;
      }
    }
  }
}

@include media-breakpoint-up(xl){
  //Sidebar
  .cms-section-sidebar-sidebar-content {
    flex: 0 0 24%;
    max-width: 24%;
    padding: 0;
  }

  // main content
  .cms-section-sidebar-main-content {
    flex: 0 0 76%;
    max-width: 76%;
    padding: 0;
  }
  .cms-block-product-listing {
    .cms-element-product-listing {
      .cms-listing-col {
        flex: 25%;
        max-width: 25%;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
