.cms-element-image-gallery{
  .gallery-slider-row {
    display: block;
    .gallery-slider-thumbnails-item {
      display: inline-block;
      width: 70px;
      height: 70px;
    }
    .tns-liveregion{
      .tns-ovh {
        max-height: 70px;
      }
    }
  }
  .gallery-slider-thumbnails-container{
    #tns2-iw {
      display: block;
    }
  }
  .gallery-slider-container{
    .gallery-slider-image {
      display: block;
      margin: 0 auto;
    }
  }
}
.gallery-slider-thumbnails-col {
  padding-left: 40px;
  margin-top: 20px;
}

.gallery-slider-controls{
  display: none;
  .icon {
    color: $sw-color-brand-primary;
    width: 32px;
    height: 32px;
  }
  button {
    border: none;
    background: none;
    opacity: 1;
  }
}
.gallery-slider{
  &:hover{
    .gallery-slider-controls {
      display: block;
    }
  }
}
