.filter-panel-item{
  .filter-panel-item-toggle {
    background-color: $white;
    background-image: linear-gradient(to bottom, $white 0%, $gray-bg 100%);
    box-shadow: none;
    border-radius: 10px;
    &:hover{
      background: $white;
    }
  }
  .filter-panel-item-dropdown{
    border-radius: 0 0 10px 10px;
  }
}