.product-box {
  border: none;
  transition: 1s all;
  .card-body{
    border: 1px solid transparent;
    padding: 10px 0;
  }
  .product-name {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    height: 80px;
    text-align: center;
  }
  .product-price-wrapper{
    text-align: center;
    margin-bottom: 10px;
    .product-price {
      color: $sw-color-brand-primary;
      font-size: 20px;
      line-height: 27px;
      &.with-list-price{
        color: $sw-color-brand-secondary;
      }
      .list-price{
        .list-price-price {
          font-weight: bold;
        }
      }
    }
  }
  .product-price-unit {
    text-align: center;
    margin-bottom: 0;
    font-size: 12px;
    height: 20px;
  }
  .product-rating,
  .product-variant-characteristics,
  .product-description,
  .product-action{
    display: none;
    .btn-buy,
    .btn-light{
      background: $sw-color-brand-secondary;
      border: none;
      border-radius: 10px;
      font-weight: normal;
      color: $white;
      padding: 2px 12px;
      font-size: 1rem;
      line-height: 38px;
      &:hover{
        background: #ca0070;
      }
    }
    .pt-3 {
      display: none;
    }
  }
  .product-wishlist{
    margin: 0;
    text-align: center;
    .product-wishlist-action-circle {
      padding: 0;
      background: none;
      position: static;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      &:before{
        content: none;
      }
    }
    .icon-wishlist{
      svg{
        color: $black;
      }
    }
    .product-wishlist-btn-content {
      text-decoration: none;
      font-size: 14px;
      font-weight: normal;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &:hover{
    .product-action {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -40px;
      .btn-buy {
        margin-bottom: 20px;
      }
    }
    .product-image-link{
      opacity: 0.7;
    }

    .card-body {
      border: 1px solid $sw-color-brand-secondary;
      border-radius: 10px;
    }
  }
  .product-badges{
    left: 0;
    .badge {
      background: $sw-color-brand-secondary;
      clear: none;
      font-size: .875rem;
      line-height: 1.25rem;
      margin: 0rem .1875rem 0rem 0rem;
      height: 1.25rem;
      min-width: 40px;
      padding: 0rem .625rem 0rem .625rem;
      text-transform: uppercase;
      border-radius: 50px;
      display: inline-block;
      width: auto;
    }
  }
}
