{% block sw_product_detail_base_ratings_card %}
    <sw-card :title="$tc('into-symbio-connector.general.titleAddonsCard')"
             v-if="product.extensions.intoSymbioConnectorAddons"
             :isLoading="product.isLoading">
        <sw-container columns="1fr 1fr 1fr 1fr" gap="0px 30px">
            <sw-field
                type="number"
                numberType="integer"
                v-model="product.extensions.intoSymbioConnectorAddons.symbioProductId"
                :label="$tc('into-symbio-connector.general.labelProductId')"
                allowEmpty
                disabled
            >
            </sw-field>
            <sw-field
                type="number"
                numberType="integer"
                v-model="product.extensions.intoSymbioConnectorAddons.symbioArticleId"
                :label="$tc('into-symbio-connector.general.labelArticleId')"
                allowEmpty
                disabled
            >
            </sw-field>
            <sw-field
                type="number"
                numberType="integer"
                v-model="product.extensions.intoSymbioConnectorAddons.symbioArticleSalesId"
                :label="$tc('into-symbio-connector.general.labelArticleSalesId')"
                allowEmpty
                disabled
            >
            </sw-field>
            <sw-field
                type="number"
                numberType="integer"
                v-model="product.extensions.intoSymbioConnectorAddons.symbioCategoryId"
                :label="$tc('into-symbio-connector.general.labelCategoryId')"
                allowEmpty
                disabled
            >
            </sw-field>
        </sw-container>
        <sw-container columns="1fr 1fr 1fr" gap="0px 30px">
            <sw-field
                type="text"
                v-model="product.extensions.intoSymbioConnectorAddons.symbioArticleSku"
                :label="$tc('into-symbio-connector.general.labelArticleSku')"
                allowEmpty
                disabled
            >
            </sw-field>
            <sw-field
                type="text"
                v-model="product.extensions.intoSymbioConnectorAddons.symbioDistributorSku"
                :label="$tc('into-symbio-connector.general.labelDistributorSku')"
                allowEmpty
                disabled
            >
            </sw-field>
            <sw-field
                type="text"
                v-model="product.extensions.intoSymbioConnectorAddons.symbioArticleUid"
                :label="$tc('into-symbio-connector.general.labelArticleUid')"
                allowEmpty
                disabled
            >
            </sw-field>
        </sw-container>
        <sw-container columns="1fr 1fr 1fr" gap="0px 30px">
            <sw-datepicker
                dateType="datetime"
                v-model="product.extensions.intoSymbioConnectorAddons.createdAt"
                :label="$tc('into-symbio-connector.general.labelCreatedAt')"
                allowEmpty
                disabled
            >
            </sw-datepicker>
            <sw-datepicker
                dateType="datetime"
                v-model="product.extensions.intoSymbioConnectorAddons.updatedAt"
                :label="$tc('into-symbio-connector.general.labelUpdatedAt')"
                allowEmpty
                disabled
            >
            </sw-datepicker>
            <sw-field
                v-model="product.extensions.intoSymbioConnectorAddons.hash"
                :label="$tc('into-symbio-connector.general.labelHash')"
                allowEmpty
            >
            </sw-field>
        </sw-container>
    </sw-card>

    {% parent %}
{% endblock %}
