{% block sw_promotion_discount_max_value %}
    {% parent %}
    <sw-container columns="1fr 1fr" gap="0px 30px" v-if="discount.extensions.intoSymbioConnectorAddons">
        <sw-text-field
            type="text"
            v-model="discount.extensions.intoSymbioConnectorAddons.symbioPromotionDiscountKey"
            :label="$tc('into-symbio-connector.general.labelSymbioPromotionDiscountKey')"
            allowEmpty
            >
        </sw-text-field>
    </sw-container>
{% endblock %}
