{% block sw_category_detail_seo_card %}
    {% parent %}
    <sw-card :title="$tc('into-symbio-connector.general.titleAddonsCard')"
             v-if="category.extensions.intoSymbioConnectorAddons"
             :isLoading="category.isLoading">
        <sw-container columns="1fr 1fr" gap="0px 30px">
            <sw-field
                type="number"
                numberType="integer"
                v-model="category.extensions.intoSymbioConnectorAddons.symbioId"
                :label="$tc('into-symbio-connector.general.labelCategoryId')"
                allowEmpty
                disabled
            >
            </sw-field>
            <sw-field
                v-model="category.extensions.intoSymbioConnectorAddons.hash"
                :label="$tc('into-symbio-connector.general.labelHash')"
                allowEmpty
            >
        </sw-container>
        <sw-container columns="1fr 1fr" gap="0px 30px">
            <sw-datepicker
                dateType="datetime"
                v-model="category.extensions.intoSymbioConnectorAddons.createdAt"
                :label="$tc('into-symbio-connector.general.labelCreatedAt')"
                allowEmpty
                disabled
            >
            </sw-datepicker>
            <sw-datepicker
                dateType="datetime"
                v-model="category.extensions.intoSymbioConnectorAddons.updatedAt"
                :label="$tc('into-symbio-connector.general.labelUpdatedAt')"
                allowEmpty
                disabled
            >
            </sw-datepicker>
            </sw-field>
        </sw-container>
    </sw-card>
{% endblock %}
