{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header_logo %}
    <div class="logo-menu-wrapper">
        {{ parent() }}
        <div class="nav-main">
            {% sw_include '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block layout_header_search %}
    <div class="col-12 order-2 col-sm order-sm-1 header-search-col">
        <div class="row">
            <div class="col">
                {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
            </div>
        </div>
    </div>
    <div class="topbar--features col-md-12 d-lg-block">
        <div>
            <div class="feature one">
                <i class="icon--check"></i>
                <span>{{ "topfeatureone"|trans }}</span>
            </div>
            <div class="feature two">
                <i class="icon--check"></i>
                <span>{{ "topfeaturetwo"|trans }}</span>
            </div>
            <div class="feature three">
                <i class="icon--check"></i>
                <span>{{ "topfeaturethree"|trans }}</span>
            </div>
            <div class="feature four">
                <i class="icon--check"></i>
                <span>{{ "topfeaturefour"|trans }}</span>
            </div>
            <div class="feature five">
                <i class="icon--check"></i>
                <span>{{ "topfeaturefive"|trans }}</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block layout_header_navigation_toggle %}
    <div class="col d-md-none">
        <div class="menu-button">
            {% block layout_header_navigation_toggle_button %}
                <button class="btn nav-main-toggle-btn header-actions-btn"
                        type="button"
                        data-offcanvas-menu="true"
                        aria-label="{{ "general.menuLink"|trans|striptags }}">
                    {% block layout_header_navigation_toggle_button_icon %}
                        {% sw_icon 'stack' %}
                        <span class="menu-text">{{ "header.menutext"|trans }}</span>

                    {% endblock %}
                </button>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block layout_header_actions_account %}
    <div class="col-auto d-md-none">
        <div class="account-menu">
            {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
        </div>
    </div>
{% endblock %}
