{% sw_extends '@Storefront/storefront/layout/header/top-bar.html.twig' %}

{% block layout_header_top_bar %}
    <div class="top-bar d-none d-md-block">
        <nav class="top-bar-nav">
            {% block layout_header_top_bar_language %}
                <div class="box-left">
                    <div class="nav--entry account">
                        <div class="account-menu">
                            {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
                        </div>
                    </div>

                    {% if page.header.serviceMenu %}
                        <div class="nav--entry service">
                            <a href="javascript:void(0)" class="btn header--service-menu">
                                {{ "header.indexLinkService"|trans }}
                                {% sw_icon 'arrow-down' style {
                                    'class': 'confirm-checkout-chevron',
                                    'size': 'xs',
                                    'pack' : 'solid'
                                } %}
                            </a>

                            <ul class="header-service-menu-list">
                                {% for serviceMenuItem in page.header.serviceMenu %}
                                    <li class="footer-service-menu-item">
                                        <a class="footer-service-menu-link"
                                           href="{{ category_url(serviceMenuItem) }}"
                                           {% if category_linknewtab(serviceMenuItem) %}target="_blank"{% endif %}
                                           title="{{ serviceMenuItem.translated.name }}">
                                            {{ serviceMenuItem.translated.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="nav--entry search">
                        {# <div class="search-toggle">
                            <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#searchCollapse"
                                    aria-expanded="false"
                                    aria-controls="searchCollapse"
                                    aria-label="{{ "header.searchButton"|trans|striptags }}">
                                <i class="icon--search"></i>
                                <span class="search--display">{{ "header.searchButton"|trans|striptags }}</span>
                            </button>
                        </div> #}
                    </div>
                </div>

                {{ parent() }}
            {% endblock %}

            {% block layout_header_top_bar_currency %}
                {% sw_include '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' %}
            {% endblock %}

            {# @deprecated tag:v6.5.0 - will be removed, has been moved to footer #}
            {% block layout_header_top_bar_service %}{% endblock %}
        </nav>
    </div>
{% endblock %}



