{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{% block buy_widget_price %}
    <div class="row align-items-center product-detail-headline">
        {% sw_include '@Storefront/storefront/page/product-detail/headline.html.twig' %}
    </div>

    {% if trustedshops.tsId and trustedshops.tsProductReviewsActive and trustedshops.tsProductRatingStarsDetailsActive %}

        {# Trusted Shops Product Stars - Start #}
        {% set productNumber = page.product.productNumber %}
        {% if page.product.extensions.parentProduct %}
            {% set productNumber = page.product.extensions.parentProduct.sku %}
        {% endif %}
        <div class="product-detail-trustedshops-reviews" id="ts_product_widget_position" style="clear: both; margin-bottom: 1rem;"></div>

        {% if trustedshops.tsProductRatingStarsExpertMode %}

            {% set ratingStarsCode = trustedshops.tsExpertProductRatingStarsCode %}
            {% set ratingStarsCode = ratingStarsCode|replace({'%tsid%': trustedshops.tsId}) %}
            {% set ratingStarsCode = ratingStarsCode|replace({'%sku%': productNumber}) %}

            {{ ratingStarsCode|raw }}

        {% else %}

            <script type="text/javascript" src="//widgets.trustedshops.com/reviews/tsSticker/tsProductStickerSummary.js"></script>
            <script type="text/javascript">
                (function() {
                    var summaryBadge = new productStickerSummary();
                    summaryBadge.showSummary(
                        {
                            'tsId': "{{ trustedshops.tsId|escape('js') }}",
                            'sku': '{{ productNumber|escape('js') }}',
                            'element': '#ts_product_widget_position',
                            'starColor' : '{{ trustedshops.tsProductRatingStarsStarColor|escape('js') }}',
                            'starSize' : '{{ trustedshops.tsProductRatingStarsStarSize|escape('js') }}px',
                            'fontSize' : '{{ trustedshops.tsProductRatingStarsFontSize|escape('js') }}px',
                            'showRating' : 'true' ,
                            {% if trustedshops.tsProductRatingStarsHideEmptyRatings %}
                            'enablePlaceholder': 'false',
                            {% else %}
                            'enablePlaceholder': 'true',
                            {% endif %}
                            'scrollToReviews' : 'false'
                        }
                    );
                })();
            </script>

        {% endif %}

        {# Trusted Shops Product Stars - End #}

    {% endif %}

    {% if page.product.customFields.migration_Shopware6_product_sy_keyfact1 %}
        <div class="key-facts col-md-12">
            <ul>
                {% if page.product.customFields.migration_Shopware6_product_sy_keyfact1 %}
                    <li>{{ page.product.customFields.migration_Shopware6_product_sy_keyfact1 }}</li>
                {% endif %}
                {% if page.product.customFields.migration_Shopware6_product_sy_keyfact2 %}
                    <li>{{ page.product.customFields.migration_Shopware6_product_sy_keyfact2 }}</li>
                {% endif %}

                {% if page.product.customFields.migration_Shopware6_product_sy_keyfact3 %}
                    <li>{{ page.product.customFields.migration_Shopware6_product_sy_keyfact3 }}</li>
                {% endif %}

                {% if page.product.customFields.migration_Shopware6_product_sy_keyfact4 %}
                    <li>{{ page.product.customFields.migration_Shopware6_product_sy_keyfact4 }}</li>
                {% endif %}

                {% if page.product.customFields.migration_Shopware6_product_sy_keyfact5 %}
                    <li>{{ page.product.customFields.migration_Shopware6_product_sy_keyfact5 }}</li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block buy_widget_tax_link %}
    {% if context.taxState == "gross" %}{{ "general.grossTaxinkl"|trans|sw_sanitize }}{% else %}{{ "general.netTaxexkl"|trans|sw_sanitize }}{% endif %}
    <a class="product-detail-tax-link"
       href="{{ path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') }) }}"
       title="{{ taxText }}"
       data-toggle="modal"
       data-url="{{ path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') }) }}">
        {{ taxText }}
    </a>
{% endblock %}

{% block buy_widget_delivery_informations %}
    <div class="product-detail-delivery-information">
        {{ page.product.customFields.migration_Shopware6_product_sy_shippingtype }}
        <div class="delivery-details {% if page.product.availableStock < 10 and page.product.availableStock > 0 %}yellow-message{% elseif page.product.availableStock == 0 or page.product.availableStock == 'null' %}red-message{% else %}available{% endif %}">
            {% if page.product.availableStock == 0 or page.product.availableStock == 'null' %}
                {{ "detail.momentannichtver"|trans }}
                {% elseif page.product.availableStock < 10 and page.product.availableStock > 0 %}
                    {{ "detail.yellowmessage"|trans({'%avalstock%': page.product.availableStock})|sw_sanitize }}, {{ "detail.Lieferzeit"|trans }} {{ page.product.customFields.migration_Shopware6_product_sy_shippingtime }}
                {% else %}
                    {{ "detail.Lieferzeit"|trans }} {{ page.product.customFields.migration_Shopware6_product_sy_shippingtime }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block buy_widget_ordernumber_container %}
    {{ parent() }}
    <div class="share--buttons">
        <a class="icon-whatsapp"
           href="https://api.whatsapp.com/send?phone={{ "detail.whatsapp"|trans }}"
           target="_blank"></a>

        <a class="icon-email" href="mailto:{{ "detail.emailaddress"|trans }}" rel="nofollow" target="_blank"></a>
    </div>
{% endblock %}