{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}

{% block buy_widget_price_content %}
    {% set listPrice = price.listPrice %}

    <p class="product-detail-price{% if listPrice.percentage > 0 %} with-list-price{% endif %}">
        {{ price.unitPrice|currency }}
    </p>

    {% if listPrice.percentage > 0 %}
        {% block buy_widget_was_price %}

            {% block buy_widget_was_price_badge %}
                <span class="list-price-badge">&#37;</span>
            {% endblock %}

            {% set afterListPriceSnippetExists = "listing.afterListPrice"|trans|length > 0 %}
            {% set beforeListPriceSnippetExists = "listing.beforeListPrice"|trans|length > 0 %}

            {% block buy_widget_was_price_wrapper %}
                <span class="product-detail-list-price-wrapper">
                    {% if beforeListPriceSnippetExists %}{{ "listing.beforeListPrice"|trans|trim }}{% endif %}

                    <span{% if not (afterListPriceSnippetExists or beforeListPriceSnippetExists) %} class="list-price-price"{% endif %}>{{ listPrice.price|currency }}</span>

                    {% if afterListPriceSnippetExists %}
                        {{ "listing.afterListPrice"|trans|trim }}
                    {% endif %}

                    <span class="list-price-percentage">{{ "detail.listPricePercentage"|trans({'%price%': listPrice.percentage|round })|sw_sanitize }}</span>
                </span>
            {% endblock %}
        {% endblock %}
    {% endif %}
    <p class="product-total-price{% if listPrice.percentage > 0 %} with-list-price{% endif %}">
        <span class="label--totalprice">{{ "detail.gesamtpreis"|trans }}</span>
        <span class="content--totalhiddenprice d-none">{{ price.unitPrice }}</span>
        <span class="content--totalprice">{{ price.unitPrice|currency }}</span>
    </p>
{% endblock %}

{% block buy_widget_price_unit_reference_content %}
    <span class="price-unit-reference-content">
                                ({{ price.referencePrice.price|currency }} / {{ price.referencePrice.referenceUnit }} {{ price.referencePrice.unitName }})
                            </span>
{% endblock %}