{% sw_extends '@Storefront/storefront/element/cms-element-product-description-reviews.html.twig' %}

{% block element_product_desciption_reviews_tabs_navigation_review %}

    {{ parent() }}
   
 {% set pdf_download = element.data.product.media.media %}
    {% set displayDownloads = 0 %}
    
     <li class="nav-item">
        {% for pdfActive in pdf_download %}
            {% if pdfActive.fileExtension == "pdf" %}
                {% set displayDownloads = 1 %}
            {% endif %}
        {% endfor %}
        {% if displayDownloads != null %}
			<a class="nav-link {% if (ratingSuccess == 1) or (ratingSuccess == -1) %}active{% endif %} product-detail-tab-navigation-link"
                id="download-tab"
                {{ dataBsToggleAttr }}="tab"
                data-offcanvas-tabs="true"
                href="#download-tab-panel-ic"
                role="tab"
                aria-controls="download-tab-panel-ic" 
                aria-selected="true">
                {{ "ic-download-tap.title.name"|trans|sw_sanitize }}
                <span class="product-detail-tab-navigation-icon">
                    {% sw_icon 'arrow-medium-right' style {'pack':'solid'} %}
                </span>
            </a>
        {% endif %}
    </li>
    
{% endblock %}

{% block element_product_desciption_reviews_tabs_content_review %}

    {{ parent() }}
 {% set pdf_download = element.data.product.media.media %}
    {% set displayDownloads = 0 %}
      {% for pdfActive in pdf_download %}
            {% if pdfActive.fileExtension == "pdf" %}
                {% set displayDownloads = 1 %}
            {% endif %}
        {% endfor %}
        
         {% if displayDownloads != null %}
 <div class="tab-pane fade show {% if (ratingSuccess == 1) or (ratingSuccess == -1) %}active{% endif %}"
        id="download-tab-panel-ic"
        role="tabpanel"
        aria-labelledby="download-tab">
            {% set filename = page.product.media.media %}
            
            {% for filenames in filename %}
            
                {% set fileExtension = filenames.fileExtension %}
                
                {% if fileExtension == "pdf" %}
    
                    <div>
                       
                        <a href= "{{ filenames.url }}" download>
                           
                            <img src="https://img.icons8.com/color/48/000000/export-pdf.png"/>
                        </a>
                        <a href= "{{ filenames.url }}" download>
                            {% if filenames.title != null %}
                                {{filenames.title}}
                            {% else %}
                                {{filenames.FileName}}
                            {% endif %}
                        </a>
                    </div><br>
                {% endif %}
            {% endfor %}
        </div>
         {% endif %}
         
{% endblock %}

