{% sw_extends '@Storefront/storefront/page/product-detail/tabs.html.twig' %}


{% block page_product_detail_tabs_navigation_review %}
   
    {% set pdf_download = page.product.media.media %}
    {% set displayDownloads = 0 %}
   
    {{ parent()}}
    <li class="nav-item">
        {% for pdfActive in pdf_download %}
            {% if pdfActive.fileExtension == "pdf" %}
                {% set displayDownloads = 1 %}
            {% endif %}
        {% endfor %}
        {% if displayDownloads != null %}
			<a class="nav-link {% if (ratingSuccess == 1) or (ratingSuccess == -1) %}active{% endif %} product-detail-tab-navigation-link"
                id="download-tab"
                {{ dataBsToggleAttr }}="tab"
                data-offcanvas-tabs="true"
                href="#download-tab-pane"
                role="tab"
                aria-controls="download-tab-pane"
                aria-selected="true">
                {{ "ic-download-tap.title.name"|trans|sw_sanitize }}
                <span class="product-detail-tab-navigation-icon">
                    {% sw_icon 'arrow-medium-right' style {'pack':'solid'} %}
                </span>
            </a>
        {% endif %}
    </li>

{% endblock %}

{% block page_product_detail_tabs_content_review %}
    {{parent()}}
    
        <div class="tab-pane fade show {% if (ratingSuccess == 1) or (ratingSuccess == -1) %}active{% endif %}"
        id="download-tab-pane"
        role="tabpanel"
        aria-labelledby="download-tab">
            {% set filename = page.product.media.media %}
            
            {% for filenames in filename %}
            
                {% set fileExtension = filenames.fileExtension %}
                
                {% if fileExtension == "pdf" %}
    
                    <div>
                       
                        <a href= "{{ filenames.url }}" download>
                           
                            <img src="https://img.icons8.com/color/48/000000/export-pdf.png"/>
                        </a>
                        <a href= "{{ filenames.url }}" download>
                            {% if filenames.title != null %}
                                {{filenames.title}}
                            {% else %}
                                {{filenames.FileName}}
                            {% endif %}
                        </a>
                    </div><br>
                {% endif %}
            {% endfor %}
        </div>
    
{% endblock %}
