{% sw_extends '@Storefront/storefront/page/product-detail/description.html.twig' %}

{% block page_product_detail_description_content_text %}{% endblock %}
{% block page_product_detail_description_content_properties %}
    {{ parent() }}
    <div  attr="one" class="product-detail-description-text"
         itemprop="description">
        {{ page.product.translated.description|raw }}
    </div>
{% endblock %}