{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}
            {% block page_product_detail_inner %}
            <meta itemprop="name" content="{{ page.product.translated.name }}" />
            {{ parent() }}
            
            {% endblock %} 
