{% sw_extends '@Storefront/storefront/page/product-detail/meta.html.twig' %}

{# {% block layout_head_canonical %}
    {% set canonicalUrl = page.product.id %}

    {% if page.product.canonicalProductId %}
        {% set canonicalUrl = page.product.canonicalProductId %}
    {% endif %}
    {% if  page.product.parentId %}
        {% set canonicalUrl =  page.product.parentId %}
    {% endif %}
<span style="display:none">{{ seoUrl('frontend.detail.page', { productId: canonicalUrl }) }}</span> 
    <link rel="canonical" href="{{ seoUrl('frontend.detail.page', { productId: canonicalUrl }) }}" /> 
          

{% endblock %} #}


{% block layout_head_canonical %}
    {% if page.product.parentId %}
        <link rel="canonical" href="{{ seoUrl('frontend.detail.page', { productId: page.product.parentId }) }}" />
    {% else %}
        <link rel="canonical" href="{{ seoUrl('frontend.detail.page', { productId: page.product.id }) }}" />
    {% endif %}
{% endblock %}
