.cms-element-category-listing-item {
    margin-bottom: 2rem;
    position: relative;

    &:hover {
        .cms-element-category-listing-item-image {
            transform: scale(1.1);
        }
    }
}

.cms-element-category-listing-item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.cms-element-category-listing-item-title--top {
    margin-bottom: .625rem;
}

.cms-element-category-listing-item-title--bottom {
    margin-top: .625rem;
}

.cms-element-category-listing-item-image-wrapper {
    height: 0;
    padding-bottom: 66.666666667%;
    position: relative;
    overflow: hidden;

    .cms-element-category-listing-item-image-placeholder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .cms-element-category-listing-item-image {
        transition: all .4s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.cms-element-category-listing-category-item {

    .cms-element-category-listing-item-title--overlay {
        transition: all .4s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .65);
        opacity: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        white-space: normal;
        padding: 1rem;

        a {
            color: white;
            text-decoration: none;
        }
    }

    &:hover .cms-element-category-listing-item-title--overlay {
        opacity: 1;
    }
}
