{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_navigation %}{% endblock %}

{% block base_footer %}
    <div class="cms-block cus-text-section newsletter">
        <div class="container">
            <div class="qp--newsletter-form">
                <p class="head">{{ "homepage.newsletterheading"|trans|sw_sanitize }}</p>
                <p class="text">{{ "homepage.newslettertext"|trans|sw_sanitize }}</p>
                <div class="cms-element-form">
                    <form action="{{ path('frontend.form.newsletter.register.handle') }}"
                          method="post"
                          data-form-csrf-handler="true"
                          data-form-validation="true">
                        {{ sw_csrf('frontend.form.newsletter.register.handle') }}
                        {% set formViolations = app.request.get('errors') %}
                        <input type="hidden" name="option" value="subscribe"/>
                        <input type="submit" class="submit--hidden d-none">
                        <div class="form-content">
                            <div class="form-row">
                                <div class="form-group input-group ">
                                    <input name="email"
                                           type="email"
                                           id="footerNewsletterMail"
                                           placeholder="{{ "account.personalMailPlaceholder"|trans }}{{ "general.required"|trans }}"
                                           required="required"
                                           value="{{ data.get('email') }}"
                                           class="newsletter-email form-control{% if formViolations.getViolations('/email') %} is-invalid{% endif %}"/>
                                    <button type="submit" class="btn">
                                        {{ ( submitText ? submitText : 'general.formSubmit' )|trans }}
                                    </button>
                                </div>


                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}