{% block sw_order_detail_base_status_card %}
    {% parent %}
    <sw-card :title="$tc('into-symbio-connector.general.titleAddonsCard')"
             v-if="order.extensions.intoSymbioConnectorAddons"
             :isLoading="order.isLoading">
        <sw-container columns="1fr 1fr" gap="0px 30px">
            <sw-field
                    type="number"
                    numberType="integer"
                    v-model="order.extensions.intoSymbioConnectorAddons.symbioOrderId"
                    :label="$tc('into-symbio-connector.general.labelOrderId')"
                    allowEmpty
                    disabled
            >
            </sw-field>
            <sw-field
                    type="text"
                    v-model="order.extensions.intoSymbioConnectorAddons.symbioOrderStatus"
                    :label="$tc('into-symbio-connector.general.labelOrderStatus')"
                    allowEmpty
                    disabled
            >
            </sw-field>
        </sw-container>
        <sw-container columns="1fr 1fr" gap="0px 30px">
            <sw-datepicker
                    dateType="datetime"
                    v-model="order.extensions.intoSymbioConnectorAddons.symbioOrderTimestamp"
                    :label="$tc('into-symbio-connector.general.labelSymbioOrderTimestamp')"
                    allowEmpty
                    disabled
            >
            </sw-datepicker>
            <into-reset-order-button
                    v-if="!order.extensions.intoSymbioConnectorAddons.symbioOrderId"
                    :orderId=order.id
            >
            </into-reset-order-button>
        </sw-container>
    </sw-card>
{% endblock %}
