{% sw_extends '@Storefront/storefront/component/shipping/shipping-fields.html.twig' %}

{% block component_shipping_method %}

    {% set spedvar = "false" %}
    {% set sperrvar = "false" %}
    {% set paketvar = "false" %}

    {% for shipping in page.shippingMethods[:visibleShippingMethodsLimit] %}
        {% if  shipping.translated.name == "Spedition" %}
            {% set spedvar = "true" %}
        {% endif %}

        {% if  shipping.translated.name == "Sperrgut" %}
            {% set sperrvar = "true" %}
        {% endif %}

        {% if  shipping.translated.name == "Paket" %}
            {% set paketvar = "true" %}
        {% endif %}

    {% endfor %}

    {% if spedvar == "true" %}
        {% for shipping in page.shippingMethods[:visibleShippingMethodsLimit] %}
            {% if  shipping.translated.name == "Spedition" %}
                {% sw_include '@Storefront/storefront/component/shipping/shipping-method.html.twig' %}
            {% endif %}
        {% endfor %}
        {% elseif sperrvar == "true" and spedvar != "true" %}
            {% for shipping in page.shippingMethods[:visibleShippingMethodsLimit] %}
                {% if  shipping.translated.name == "Sperrgut" %}
                    {% sw_include '@Storefront/storefront/component/shipping/shipping-method.html.twig' %}
                {% endif %}
            {% endfor %}
        {% else %}
                {% for shipping in page.shippingMethods[:visibleShippingMethodsLimit] %}
                    {% if  shipping.translated.name == "Paket" %}
                        {% sw_include '@Storefront/storefront/component/shipping/shipping-method.html.twig' %}
                    {% endif %}
                {% endfor %}
    {% endif %}

    {% block component_shipping_method_collapse %}
        {% if page.shippingMethods | length > visibleShippingMethodsLimit and visibleShippingMethodsLimit is not same as(null) %}
            <div class="collapse">
                {% for shipping in page.shippingMethods[visibleShippingMethodsLimit:] %}
                    {% sw_include '@Storefront/storefront/component/shipping/shipping-method.html.twig' %}
                {% endfor %}
            </div>

            {% block component_shipping_method_collapse_trigger %}
                <div class="btn btn-link confirm-checkout-collapse-trigger"
                     data-collapse-checkout-confirm-methods="true"
                     data-collapse-checkout-confirm-methods-options='{{ collapseTriggerLabels|json_encode }}'>
                            <span class="confirm-checkout-collapse-trigger-label">
                                {% block component_shipping_method_collapse_trigger_label %}
                                    {{ collapseTriggerLabels.collapseTriggerMoreLabel }}
                                {% endblock %}
                            </span>
                    {% block component_shipping_method_collapse_trigger_icon %}
                        {% sw_icon 'arrow-down' style {
                            'class': 'confirm-checkout-chevron',
                            'size': 'xs',
                            'pack' : 'solid'
                        } %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}