{% sw_extends '@Storefront/storefront/element/cms-element-image-gallery.html.twig' %}

{% block element_image_gallery_inner_thumbnails_items %}
    {% for image in mediaItems %}
        {% if image.fileExtension != "pdf" %}
            {% block element_image_gallery_inner_thumbnails_item %}
                {{ parent() }}
            {% endblock %}
        {% endif %}
    {% endfor %}

    {% set videos = page.product.extensions.mediaVideos.entities.elements|first.videos %}
    {% for video in videos %}
        <div class="gallery-slider-thumbnails-item">
            <div class="gallery-slider-thumbnails-item-inner">
                <img src="{{ video.mediaUris['thumbnail-small'] }}"
                     alt="{{ video.text }}"
                     class="gallery-slider-thumbnails-image tns-complete">
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block element_image_gallery_inner_items %}
    {% for image in mediaItems %}
        {% block element_image_gallery_inner_item %}
            {% if image.fileExtension != "pdf" %}
                {{ parent() }}
            {% endif %}
        {% endblock %}
    {% endfor %}

    {% set videos = page.product.extensions.mediaVideos.entities.elements|first.videos %}
    {% for video in videos %}
        <div class="video gallery-slider-item-container">
            <div class="gallery-slider-item is-{{ displayMode }} js-magnifier-container"{% if minHeight and  (displayMode == "cover" or displayMode == "contain" ) %} style="min-height: {{ minHeight }}"{% endif %}>
                <iframe frameborder="0"
                        style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px"
                        height="100%"
                        width="100%"
                        src="{{ video.mediaUris.VIDEO }}">
                </iframe>
            </div>
        </div>
    {% endfor %}
{% endblock %}