{% sw_extends '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' %}

{% block layout_header_actions_wishlist_widget %}
    <span class="header-wishlist-icon">
        <i class="icon--heart"></i>
    </span>
    <span class="notepad--name">{{ 'header.wishlist'|trans|striptags }}</span>
    {% set wishlistStorageOptions = {
        listPath: path('frontend.wishlist.product.list'),
        mergePath: path('frontend.wishlist.product.merge'),
        tokenMergePath: sw_csrf('frontend.wishlist.product.merge', {'mode': 'token'}),
        pageletPath: path('frontend.wishlist.product.merge.pagelet'),
        tokenPageletPath: sw_csrf('frontend.wishlist.product.merge.pagelet', {'mode': 'token'}),
    } %}
    <span class="badge badge-primary header-wishlist-badge"
          id="wishlist-basket"
          data-wishlist-storage="true"
          data-wishlist-storage-options="{{ wishlistStorageOptions|json_encode }}"
          data-wishlist-widget="true"
    ></span>
{% endblock %}
