{% block into_symbio_dashboard_main %}
    <sw-page class="into-symbio-dashboard">
        <template slot="content">
            <sw-card-view>
                <sw-card :title="$tc('into-symbio-connector.dashboard.buttonsCard')">
                    <sw-container columns="1fr 1fr" gap="0px 30px">
                        <into-full-update-button></into-full-update-button>
                        <into-check-only-button></into-check-only-button>
                    </sw-container>
                </sw-card>
                <sw-card :title="$tc('into-symbio-connector.dashboard.resultsCard')">
                    <into-csv-list></into-csv-list>
                </sw-card>
                <sw-card :title="$tc('into-symbio-connector.dashboard.actionsCard')">
                    <sw-container columns="1fr" gap="0px 30px">
                        <sw-file-input
                                v-model="selectedCsvFile"
                                class="sw-order-document-settings-modal__file-input"
                                :allowed-mime-types="features.fileTypes"
                                :max-file-size="features.uploadFileSizeLimit"
                        />
                        <sw-button-process
                                v-if="selectedCsvFile"
                                variant="danger"
                                :isLoading="isLoading"
                                :processSuccess="isSaveSuccessful"
                                @process-finish="saveFinish"
                                @click="processCsv"
                        >
                            {{ $tc('into-symbio-connector.dashboard.updateSelectedButton') }}
                        </sw-button-process>
                    </sw-container>
                </sw-card>
            </sw-card-view>
        </template>
    </sw-page>
{% endblock %}