{% block sw_media_quickinfo_metadata %}
    {% parent %}
    <sw-media-collapse
        v-if="item.extensions.intoSymbioConnectorAddons"
        :expandOnLoading="false"
        :title="$tc('into-symbio-connector.general.titleAddonsCard')">
        <template #content>
            <dl class="sw-media-sidebar__metadata-list">
                <sw-media-quickinfo-metadata-item
                    class="sw-media-quickinfo-metadata-file-type"
                    :label-name="$tc('into-symbio-connector.general.labelMediaId')">
                    {{ item.extensions.intoSymbioConnectorAddons.symbioId }}
                </sw-media-quickinfo-metadata-item>
                <sw-media-quickinfo-metadata-item
                    class="sw-media-quickinfo-metadata-createdAt"
                    :label-name="$tc('into-symbio-connector.general.labelCreatedAt')">
                    {{ item.extensions.intoSymbioConnectorAddons.createdAt }}
                </sw-media-quickinfo-metadata-item>
                <sw-media-quickinfo-metadata-item
                    class="sw-media-quickinfo-metadata-createdAt"
                    :label-name="$tc('into-symbio-connector.general.labelUpdatedAt')">
                    {{ item.extensions.intoSymbioConnectorAddons.updatedAt }}
                </sw-media-quickinfo-metadata-item>
                <sw-media-quickinfo-metadata-item
                    class="sw-media-quickinfo-metadata-file-type"
                    :label-name="$tc('into-symbio-connector.general.labelHash')">
                    {{ item.extensions.intoSymbioConnectorAddons.hash }}
                </sw-media-quickinfo-metadata-item>
            </dl>
        </template>
    </sw-media-collapse>
{% endblock %}
