{#
(c) Neofonie GmbH

This computer program is the sole property of Neofonie GmbH
(http://www.neofonie.de) and is protected under the German Copyright Act
(paragraph 69a UrhG). All rights are reserved. Making copies,
duplicating, modifying, using or distributing this computer program
in any form, without prior written consent of Neofonie, is
prohibited. Violation of copyright is punishable under the
German Copyright Act (paragraph 106 UrhG). Removing this copyright
statement is also a violation.
#}
{% block task_statistics_index %}
    <sw-page class="task-statistics-index sw-settings-index">
        {% block task_statistics_index_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block task_statistics_index_smart_bar_header_title %}
                    <h2>
                        {% block task_statistics_index_smart_bar_header_title_text %}
                            {{ $tc('task-statistics-index.index.textHeadline') }}
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block task_statistics_index_content %}
        <template #content>
            {% block task_statistics_index_content_card_view %}
            <sw-card-view>
                {% block task_statistics_index_content_card %}
                <sw-card class="task-statistics_index__card">
                    {% block task_statistics_index_content_grid %}
                    <div class="sw-settings__content-grid">
                        {% block task_statistics_index_card_item %}
                            {% block sw_settings_scheduled_tasks_item %}
                                <sw-settings-item id="settings-task-statistics-scheduled-tasks" :label="$tc('task-statistics-index.index.item.scheduledTasks')" :to="{ name: 'task.statistics.scheduled.tasks.scheduledtasks' }" v-if="actualConfigData['NeoTaskStatistics.config.showScheduledTasks']">
                                    <template slot="icon">
                                        <sw-icon name="default-action-search"></sw-icon>
                                    </template>
                                </sw-settings-item>
                            {% endblock %}
                            {% block sw_settings_message_queue_stats_item %}
                                <sw-settings-item id="settings-task-statistics-message-queue-stats" :label="$tc('task-statistics-index.index.item.messageQueueStats')" :to="{ name: 'task.statistics.message.queue.stats.messagequeuestats' }" v-if="actualConfigData['NeoTaskStatistics.config.showMessageQueueStats']">
                                    <template slot="icon">
                                        <sw-icon name="default-action-search"></sw-icon>
                                    </template>
                                </sw-settings-item>
                            {% endblock %}
                            {% block sw_settings_queue_per_channel_item %}
                                <sw-settings-item id="settings-task-statistics-queue-per-channel" :label="$tc('task-statistics-index.index.item.queuePerChannel')" :to="{ name: 'task.statistics.queue.per.channel.queueperchannel' }" v-if="actualConfigData['NeoTaskStatistics.config.showQueuePerChannel']">
                                    <template slot="icon">
                                        <sw-icon name="default-action-search"></sw-icon>
                                    </template>
                                </sw-settings-item>
                            {% endblock %}
                        {% endblock %}
                    </div>
                    {% endblock %}
                </sw-card>
                {% endblock %}
            </sw-card-view>
            {% endblock %}
        </template>
        {% endblock %}
    </sw-page>
{% endblock %}
