<div class="sw-field sw-block-field sw-field--default into-reset-order-button">
    <sw-button-process
            variant="primary"
            :isLoading="isLoading"
            :processSuccess="isSaveSuccessful"
            @process-finish="saveFinish"
            @click="checkOnly"
    >{{ $tc('into-symbio-connector.dashboard.checkOnlyButton') }}</sw-button-process>
</div>
