{#
(c) Neofonie GmbH

This computer program is the sole property of Neofonie GmbH
(http://www.neofonie.de) and is protected under the German Copyright Act
(paragraph 69a UrhG). All rights are reserved. Making copies,
duplicating, modifying, using or distributing this computer program
in any form, without prior written consent of Neofonie, is
prohibited. Violation of copyright is punishable under the
German Copyright Act (paragraph 106 UrhG). Removing this copyright
statement is also a violation.
#}
{% block task_statistics_scheduled_tasks_detail %}
    <sw-page class="task-statistics-scheduled-tasks-detail" v-if="item">

        {% block task_statistics_scheduled_tasks_detail_smart_bar_header %}
            <template slot="smart-bar-header">
            {% block task_statistics_scheduled_tasks_detail_smart_bar_header_title %}
                <h2>{{ $tc('task-statistics-scheduled-tasks.detail.textHeadline') }}</h2>
            {% endblock %}
            </template>
        {% endblock %}

        {% block task_statistics_scheduled_tasks_detail_smart_bar_actions %}
            <template slot="smart-bar-actions">
                {% block task_statistics_scheduled_tasks_detail_smart_bar_actions_cancel %}
                    <sw-button :disabled="item.isLoading" :routerLink="{ name: 'task.statistics.scheduled.tasks.scheduledtasks' }">
                        {{ $tc('task-statistics-scheduled-tasks.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block task_statistics_scheduled_tasks_detail_smart_bar_actions_save %}
                    <sw-button-process
                        class="task-statistics-scheduled-tasks-detail__save-action"
                        :isLoading="isLoading"
                        :processSuccess="processSuccess"
                        variant="primary"
                        :disabled="item.isLoading"
                        @process-finish="saveFinish"
                        @click="onClickSave">
                        {{ $tc('task-statistics-scheduled-tasks.detail.buttonSave') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block task_statistics_scheduled_tasks_detail_content %}
            <sw-card-view slot="content">
                {% block task_statistics_scheduled_tasks_detail_content_card_id %}
                    <sw-card :isLoading="isLoading" v-if="item">
                        {% block task_statistics_scheduled_tasks_detail_content_card_name_input %}
                            <sw-field v-model="item.name"
                                      class="task-statistics-scheduled-tasks-detail__item_name"
                                      required
                                      disabled
                                      :label="$tc('task-statistics-scheduled-tasks.detail.fieldNameLabel')">
                            </sw-field>
                        {% endblock %}
                        {% block task_statistics_scheduled_tasks_detail_content_card_scheduled_task_class_input %}
                            <sw-field v-model="item.scheduledTaskClass"
                                      class="task-statistics-scheduled-tasks-detail__item_scheduled_task_class"
                                      required
                                      disabled
                                      :label="$tc('task-statistics-scheduled-tasks.detail.fieldScheduledTaskClassLabel')">
                            </sw-field>
                        {% endblock %}
                        {% block task_statistics_scheduled_tasks_detail_content_card_run_interval_input %}
                            <sw-select-field v-model="item.runInterval"
                                      class="task-statistics-scheduled-tasks-detail__item_run_interval"
                                      required
                                      :label="$tc('task-statistics-scheduled-tasks.detail.fieldRunIntervalLabel')">
                                <option v-for="interval in intervals"
                                        :value="interval.value">{{ interval.label }}</option>
                            </sw-select-field>
                        {% endblock %}
                        {% block task_statistics_scheduled_tasks_detail_content_card_last_execution_time_input %}
                            <sw-field v-model="lastExecutionTime"
                                      class="task-statistics-scheduled-tasks-detail__item_last_execution_time"
                                      disabled
                                      type="datetime"
                                      :label="$tc('task-statistics-scheduled-tasks.detail.fieldLastExecutionTimeLabel')">
                            </sw-field>
                        {% endblock %}
                        {% block task_statistics_scheduled_tasks_detail_content_card_next_execution_time_input %}
                            <neo-datepicker v-model="item.nextExecutionTime"
                                      dateType="datetime-local"
                                      class="task-statistics-scheduled-tasks-detail__next_execution_time"
                                      :label="$tc('task-statistics-scheduled-tasks.detail.fieldNextExecutionTimeLabel')">
                            </neo-datepicker>
                        {% endblock %}
                        {% block task_statistics_scheduled_tasks_detail_content_card_status_input %}
                            <sw-select-field v-model="item.status"
                                      class="task-statistics-scheduled-tasks-detail__item_status"
                                      :label="$tc('task-statistics-scheduled-tasks.detail.fieldStatusLabel')"
                            >
                                <option v-for="stat in status"
                                        :value="stat.value">{{ stat.label }}</option>
                            </sw-select-field>
                        {% endblock %}
                    </sw-card>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
