{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_payment_shipping_logos %}{% endblock %}
{% block layout_footer_service_menu %}{% endblock %}

{% block layout_footer_navigation %}
    <div id="footerColumns"
         class="row footer-columns"
         data-collapse-footer="true">
        {% block layout_footer_navigation_hotline %}
            <div class="col-md-3 footer-column js-footer-column">
                <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                     id="collapseFooterAboutTitle"
                     data-target="#collapseFooterAbout"
                     aria-expanded="true"
                     aria-controls="collapseFooterAbout">
                    {{ 'footer.serviceAboutHeadline'|trans|sw_sanitize }}
                        <div class="footer-column-toggle">
                                <span class="footer-plus-icon">
                                    {% sw_icon 'plus' %}
                                </span>
                            <span class="footer-minus-icon">
                                    {% sw_icon 'minus' %}
                                </span>
                        </div>
                </div>

                <div id="collapseFooterAbout"
                     class="footer-column-content collapse js-footer-column-content footer-contact"
                     aria-labelledby="collapseFooterHotlineTitle">
                    <div class="footer-column-content-inner">
                        <p class="footer-contact-hotline">
                            {{ 'footer.serviceAbout'|trans|sw_sanitize }}
                        </p>
                    </div>
                </div>

                <div class="footer-column js-footer-column">
                    {% block layout_footer_navigation_hotline_headline %}
                        <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                             id="collapseFooterHotlineTitle"
                             data-target="#collapseFooterHotline"
                             aria-expanded="true"
                             aria-controls="collapseFooterHotline">
                            {{ 'footer.serviceHotlineHeadline'|trans|sw_sanitize }}
                            {% block layout_footer_navigation_hotline_icons %}
                                <div class="footer-column-toggle">
                                <span class="footer-plus-icon">
                                    {% sw_icon 'plus' %}
                                </span>
                                    <span class="footer-minus-icon">
                                    {% sw_icon 'minus' %}
                                </span>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block layout_footer_navigation_hotline_content %}
                        <div id="collapseFooterHotline"
                             class="footer-column-content collapse js-footer-column-content footer-contact"
                             aria-labelledby="collapseFooterHotlineTitle">
                            <div class="footer-column-content-inner">
                                <div class="footer-contact-hotline qp--contact-info">
                                    {{ 'footer.serviceHotline'|trans|sw_sanitize }}
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block layout_footer_navigation_columns %}
            {% for root in page.footer.navigation.tree %}
                {% block layout_footer_navigation_column %}
                    <div class="col-md-3 footer-column js-footer-column">
                        {% block layout_footer_navigation_information_headline %}
                            <div class="footer-column-headline footer-headline js-collapse-footer-column-trigger"
                                 data-target="#collapseFooterTitle{{ loop.index }}"
                                 aria-expanded="true"
                                 aria-controls="collapseFooter{{ loop.index }}">

                                {% if root.category.type == 'folder' %}
                                    {{ root.category.translated.name }}
                                {% else %}
                                    <a href="{{ category_url(root.category) }}"
                                       {% if category_linknewtab(root.category) %}target="_blank"{% endif %}
                                       title="{{ root.category.translated.name }}">
                                        {{ root.category.translated.name }}
                                    </a>
                                {% endif %}
                                {% block layout_footer_navigation_information_icons %}
                                    <div class="footer-column-toggle">
                                        <span class="footer-plus-icon">
                                            {% sw_icon 'plus' %}
                                        </span>
                                        <span class="footer-minus-icon">
                                            {% sw_icon 'minus' %}
                                        </span>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block layout_footer_navigation_information_content %}
                            <div id="collapseFooter{{ loop.index }}"
                                 class="footer-column-content collapse js-footer-column-content"
                                 aria-labelledby="collapseFooterTitle{{ loop.index }}">
                                <div class="footer-column-content-inner">
                                    {% block layout_footer_navigation_information_links %}
                                        <ul class="list-unstyled">
                                            {% for treeItem in root.children %}
                                                {% set category = treeItem.category %}
                                                {% set name = category.translated.name %}

                                                {# @deprecated tag:v6.5.0 - Use "category.translated.externalLink" directly or category_url function instead. #}
                                                {% set externalLink = category.translated.externalLink %}

                                                {% block layout_footer_navigation_information_link_item %}
                                                    <li class="footer-link-item">
                                                        {% block layout_footer_navigation_information_link %}
                                                            {% if category.type == 'folder' %}
                                                                <div>{{ name }}</div>
                                                            {% else %}
                                                                <a class="footer-link"
                                                                   href="{{ category_url(category) }}"
                                                                   {% if category_linknewtab(category) %}target="_blank"{% endif %}
                                                                   title="{{ name }}">
                                                                    {{ name }}
                                                                </a>
                                                            {% endif %}
                                                        {% endblock %}
                                                    </li>
                                                {% endblock %}
                                            {% endfor %}
                                        </ul>
                                    {% endblock %}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endfor %}
        {% endblock %}

        <div class="col-md-3 footer-column js-footer-column">
            <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                 id="collapseFooterZahlungTitle"
                 data-target="#collapseFooterZahlung"
                 aria-expanded="true"
                 aria-controls="collapseFooterZahlung">
                {{ 'footer.servicezahlungHeadline'|trans|sw_sanitize }}
                <div class="footer-column-toggle">
                                <span class="footer-plus-icon">
                                    {% sw_icon 'plus' %}
                                </span>
                    <span class="footer-minus-icon">
                                    {% sw_icon 'minus' %}
                                </span>
                </div>
            </div>
            <div id="collapseFooterZahlung"
                 class="footer-column-content collapse js-footer-column-content footer-contact"
                 aria-labelledby="collapseFooterZahlungTitle">
                <div class="footer-column-content-inner">
                    <div class="footer-payment-logos">
                        <div class="footer-logo is-payment">
                           <img src="{{ asset('/bundles/qpool24sw6/assets/img/lastschrift.jpg') }}"/>
                        </div>
                        <div class="footer-logo is-payment">
                            <img src="{{ asset('/bundles/qpool24sw6/assets/img/mastercard.jpg') }}"/>
                        </div>
                        <div class="footer-logo is-payment">
                            <img src="{{ asset('/bundles/qpool24sw6/assets/img/paypal.jpg') }}"/>
                        </div>
                        <div class="footer-logo is-payment">
                            <img src="{{ asset('/bundles/qpool24sw6/assets/img/rechnung-pp.jpg') }}"/>
                        </div>
                        <div class="footer-logo is-payment">
                            <img src="{{ asset('/bundles/qpool24sw6/assets/img/visa.jpg') }}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-column js-footer-column">
                <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                     id="collapseFooterVersandTitle"
                     data-target="#collapseFooterVersand"
                     aria-expanded="true"
                     aria-controls="collapseFooterVersand">
                    {{ 'footer.serviceVersandHeadline'|trans|sw_sanitize }}
                    <div class="footer-column-toggle">
                                <span class="footer-plus-icon">
                                    {% sw_icon 'plus' %}
                                </span>
                        <span class="footer-minus-icon">
                                    {% sw_icon 'minus' %}
                                </span>
                    </div>
                </div>

                <div id="collapseFooterVersand"
                     class="footer-column-content collapse js-footer-column-content footer-contact"
                     aria-labelledby="collapseFooterVersandTitle">
                    <div class="footer-column-content-inner">
                        <div class="footer-logo is-shipping">
                            <img src="{{ asset('/bundles/qpool24sw6/assets/img/dhl.jpg') }}"/>
                        </div>
                        <div class="footer-logo is-shipping">
                            <img src="{{ asset('/bundles/qpool24sw6/assets/img/dpd.jpg') }}"/>
                        </div>
                        <div class="footer-logo is-shipping">
                            <img src="{{ asset('/bundles/qpool24sw6/assets/img/spedition.jpg') }}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-column js-footer-column">
                <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                     id="collapseFooterFolgenTitle"
                     data-target="#collapseFooterFolgen"
                     aria-expanded="true"
                     aria-controls="collapseFooterFolgen">
                    {{ 'footer.serviceFolgenHeadline'|trans|sw_sanitize }}
                    <div class="footer-column-toggle">
                                <span class="footer-plus-icon">
                                    {% sw_icon 'plus' %}
                                </span>
                        <span class="footer-minus-icon">
                                    {% sw_icon 'minus' %}
                                </span>
                    </div>
                </div>

                <div id="collapseFooterFolgen"
                     class="footer-column-content collapse js-footer-column-content footer-contact"
                     aria-labelledby="collapseFooterFolgenTitle">
                    <div class="footer-column-content-inner">
                        <a href="https://www.instagram.com/qpool24/?hl=de" title="Instagram" target="_blank" class="icon-instagram" rel="nofollow noopener"><span>Instagram</span></a>
                        <a href="https://www.facebook.com/profile.php?id=100086091341281" title="Facebook" target="_blank" class="icon-facebook" rel="nofollow noopener"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

